# Scraping stats from hockeyreference.com

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import regex as re
import time
import sched
import os

## User input

In [13]:
# Set the season. Use the 2nd year involved in the season. 
# For example, if the 2021-2022 season is desired, set season = '2022'
season = '2021'

## Define function to web scrape 2021-2022 game logs given player_id

In [14]:
# For SKATERS only (not goalies...)
def get_game_log(player_id, player_type):
    global season
    
    try:
        # Create template URL. We will fill in the 2 blanks (___ and ...) with the correct information for each player
        template_url = 'https://www.hockey-reference.com/players.../gamelog/___'

        # Fill in blanks
        url = template_url.replace('...', str(player_id))
        url = url.replace('___', str(season))

        # Get table from hockey reference using pandas
        game_log = pd.read_html(url, attrs = {'class': 'row_summable'})[0]

        # Add the player_id column
        game_log['player_id'] = player_id
        
        # Add the season column
        game_log['season'] = season

        # Check whether player is a skater or goalie
        if player_type == "skater":
            global skater_games
            
            # Update the running df containing all the players
            skater_games = skater_games.append(game_log)
            
            # Print our progress as we iterate through all the players
            print('Num players:', len(skater_games.player_id.unique()), '- Num rows in df:', len(skater_games.index))
            
        elif player_type == "goalie":
            global goalie_games
            
             # Update the running df containing all the players
            goalie_games = goalie_games.append(game_log)
            
            # Print our progress as we iterate through all the players
            print('Num players:', len(goalie_games.player_id.unique()), '- Num rows in df:', len(goalie_games.index))
        
        else:
            print(player_type, "is not a known player type.")
            
        return
    
    except:
        # If we cant find games for a particular player, alert us and save the player_id off to the side. 
        # Then continue on wih the rest.
        if player_type == "skater":
            global skater_ids_that_go_wrong
            print(player_id, "was not found among season", season, "players on HockeyReference.com")
            skater_ids_that_go_wrong.append(player_id)
            
        elif player_type == "goalie":
            global goalie_ids_that_go_wrong
            print(player_id, "was not found among season", season, "players on HockeyReference.com")
            goalie_ids_that_go_wrong.append(player_id)
            
        else:
            print(player_type, "is not a known player type.")

        return

## Now lets get a list of all the player IDs for the season
Now, we want to do this for all players from the user specified season that have played at least 1 game during that season.
It would probably be most accurate to get this list from HockeyReference since that is where we are scraping the player stats.

The url containing these players has the following form and can be modified based on what season the user is interested in. 
* https://www.hockey-reference.com/leagues/NHL_2022_skaters.html
* https://www.hockey-reference.com/leagues/NHL_2022_goalies.html

We will grab the player_id using the href. The names can be retrieved from the same tag (using the text instead of href). The names will be left joined later to the final data frame.

In [4]:
# Scrape the list of players.
# Create the url
skater_names_template_url = 'https://www.hockey-reference.com/leagues/NHL_..._skaters.html'
skater_names_url = skater_names_template_url.replace('...', str(season))

# Grab the html code 
response = requests.get(skater_names_url)
soup = BeautifulSoup(response.text, 'html.parser')
skater_names_html_list = soup.find_all('td', attrs = {'data-stat':'player'})

# Here is the list of player names. We can use this to create a dictionary of {'player_id':'player_names'}.
skater_names = [player_name.text for player_name in skater_names_html_list]

# List of unique names (technically not guaranteed to be accurate... ex: there are 2 Sebastian Aho's)
#unique_skater_names = set(skater_names)
#print('Unique skater names we are getting:', len(unique_skater_names), '\n')

In [6]:
# Grab player ID using the href in <a> tag. Then we don't have to construct them ourselves.
href_strings = [str(skater_names_html_list[index].a) for index in range(len(skater_names_html_list))]
skater_ids = [re.search('/\w/\S+[0-9]+', href).group(0) for href in href_strings] # This can also handle names like 'J.T. Compher'

# This works for getting all of the player IDs in the list
print('Number of player IDs scraped:', len(skater_ids))

# Here is the set of unique ones we will use later to iterate through
unique_skater_ids = list(set(skater_ids))
unique_skater_ids.sort()
print('Number of unique player IDs', len(unique_skater_ids), '\n')

# Show first few
#print('First few player IDs', unique_skater_ids[0:5])

# Create a data frame of player ids and player names. We will use this to join to the final data frame to 
# add the player names as another column.
skater_ids_names = pd.DataFrame({'player_id' : skater_ids, 'player_name' : skater_names})
skater_ids_names = skater_ids_names.drop_duplicates()
display(skater_ids_names.head())

Number of player IDs scraped: 1162
Number of unique player IDs 1004

      player_id         player_name
0  /a/abruzni01  Nicholas Abruzzese
1  /a/acciano01        Noel Acciari
2  /a/addisca01       Calen Addison
3  /a/agozzan01     Andrew Agozzino
4  /a/ahcanja01          Jack Ahcan

## Get goalie player IDs

In [15]:
# Scrape the list of goalies.
# Create the url
goalie_names_template_url = 'https://www.hockey-reference.com/leagues/NHL_..._goalies.html'
goalie_names_url = goalie_names_template_url.replace('...', str(season))

# Grab the html code 
response = requests.get(goalie_names_url)
soup = BeautifulSoup(response.text, 'html.parser')
goalie_names_html_list = soup.find_all('td', attrs = {'data-stat':'player'})

# Here is the list of player names. We can use this to create a dictionary of {'player_id':'player_names'}.
goalie_names = [player_name.text for player_name in goalie_names_html_list]

# List of unique names (technically not guaranteed to be accurate... ex: there are 2 Sebastian Aho's)
#unique_goalie_names = set(goalie_names)
#print('Unique skater names we are getting:', len(unique_goalie_names), '\n')

In [16]:
# Grab player ID using the href in <a> tag. Then we don't have to construct them ourselves.
href_strings = [str(goalie_names_html_list[index].a) for index in range(len(goalie_names_html_list))]
goalie_ids = [re.search('/\w/\S+[0-9]+', href).group(0) for href in href_strings] # This can also handle names like 'J.T. Compher'

# This works for getting all of the player IDs in the list
print('Number of player IDs scraped:', len(goalie_ids))

# Here is the set of unique ones we will use later to iterate through
unique_goalie_ids = list(set(goalie_ids))
unique_goalie_ids.sort()
print('Number of unique player IDs', len(unique_goalie_ids), '\n')

# Show first few
#print('First few player IDs', unique_goalie_ids[0:5])

# Create a data frame of player ids and player names. We will use this to join to the final data frame to 
# add the player names as another column.
goalie_ids_names = pd.DataFrame({'player_id' : goalie_ids, 'player_name' : goalie_names})
goalie_ids_names = goalie_ids_names.drop_duplicates()
display(goalie_ids_names.head())

Number of player IDs scraped: 104
Number of unique player IDs 98

      player_id        player_name
0  /a/allenja01         Jake Allen
1  /a/anderfr01  Frederik Andersen
2  /a/andercr01     Craig Anderson
3  /b/bernijo01   Jonathan Bernier
4  /b/binnijo01  Jordan Binnington

## Apply function on all skater IDs

In [21]:
# Initalize empty df to store all player game logs combined
skater_games = pd.DataFrame()
# Place to store any player ID that does NOT get added to data frame
skater_ids_that_go_wrong = []

# Set up scheduler object to fun the game log function every 2 seconds
scheduler = sched.scheduler(time.time, time.sleep)

# Fill with web scrape output
# Is this the most efficient way of doing things?
for id_code in unique_skater_ids:
    scheduler.enter(3, 1, action = get_game_log, argument = (id_code, "skater"))
    scheduler.run()

Num players: 1 - Num rows in df: 9
Num players: 2 - Num rows in df: 29
Num players: 3 - Num rows in df: 44
Num players: 4 - Num rows in df: 45
Num players: 5 - Num rows in df: 51
Num players: 6 - Num rows in df: 133
Num players: 7 - Num rows in df: 170
Num players: 8 - Num rows in df: 171
Num players: 9 - Num rows in df: 172
Num players: 10 - Num rows in df: 230
Num players: 11 - Num rows in df: 237
Num players: 12 - Num rows in df: 309
Num players: 13 - Num rows in df: 314
Num players: 14 - Num rows in df: 334
Num players: 15 - Num rows in df: 393
Num players: 16 - Num rows in df: 479
Num players: 17 - Num rows in df: 485
Num players: 18 - Num rows in df: 489
Num players: 19 - Num rows in df: 560
Num players: 20 - Num rows in df: 568
Num players: 21 - Num rows in df: 630
Num players: 22 - Num rows in df: 699
Num players: 23 - Num rows in df: 782
Num players: 24 - Num rows in df: 854
Num players: 25 - Num rows in df: 883
Num players: 26 - Num rows in df: 959
Num players: 27 - Num rows in df: 974
Num players: 28 - Num rows in df: 1051
Num players: 29 - Num rows in df: 1130
Num players: 30 - Num rows in df: 1216
Num players: 31 - Num rows in df: 1265
Num players: 32 - Num rows in df: 1266
Num players: 33 - Num rows in df: 1267
Num players: 34 - Num rows in df: 1284
Num players: 35 - Num rows in df: 1361
Num players: 36 - Num rows in df: 1375
Num players: 37 - Num rows in df: 1439
Num players: 38 - Num rows in df: 1512
Num players: 39 - Num rows in df: 1597
Num players: 40 - Num rows in df: 1601
Num players: 41 - Num rows in df: 1671
Num players: 42 - Num rows in df: 1687
Num players: 43 - Num rows in df: 1763
Num players: 44 - Num rows in df: 1770
Num players: 45 - Num rows in df: 1798
Num players: 46 - Num rows in df: 1874
Num players: 47 - Num rows in df: 1949
Num players: 48 - Num rows in df: 1997
Num players: 49 - Num rows in df: 2042
Num players: 50 - Num rows in df: 2076
Num players: 51 - Num rows in df: 2146
Num players: 52 - Num rows in df: 2206
Num players: 53 - Num rows in df: 2208
Num players: 54 - Num rows in df: 2233
Num players: 55 - Num rows in df: 2311
Num players: 56 - Num rows in df: 2314
Num players: 57 - Num rows in df: 2397
Num players: 58 - Num rows in df: 2444
Num players: 59 - Num rows in df: 2455
Num players: 60 - Num rows in df: 2498
Num players: 61 - Num rows in df: 2508
Num players: 62 - Num rows in df: 2582
Num players: 63 - Num rows in df: 2650
Num players: 64 - Num rows in df: 2736
Num players: 65 - Num rows in df: 2776
Num players: 66 - Num rows in df: 2831
Num players: 67 - Num rows in df: 2861
Num players: 68 - Num rows in df: 2937
Num players: 69 - Num rows in df: 2945
Num players: 70 - Num rows in df: 3016
Num players: 71 - Num rows in df: 3018
Num players: 72 - Num rows in df: 3019
Num players: 73 - Num rows in df: 3028
Num players: 74 - Num rows in df: 3088
Num players: 75 - Num rows in df: 3094
Num players: 76 - Num rows in df: 3177
Num players: 77 - Num rows in df: 3250
Num players: 78 - Num rows in df: 3309
Num players: 79 - Num rows in df: 3369
Num players: 80 - Num rows in df: 3383
Num players: 81 - Num rows in df: 3390
Num players: 82 - Num rows in df: 3423
Num players: 83 - Num rows in df: 3491
Num players: 84 - Num rows in df: 3565
Num players: 85 - Num rows in df: 3615
Num players: 86 - Num rows in df: 3664
Num players: 87 - Num rows in df: 3747
Num players: 88 - Num rows in df: 3801
Num players: 89 - Num rows in df: 3859
Num players: 90 - Num rows in df: 3867
Num players: 91 - Num rows in df: 3904
Num players: 92 - Num rows in df: 3958
Num players: 93 - Num rows in df: 4017
Num players: 94 - Num rows in df: 4093
Num players: 95 - Num rows in df: 4178
Num players: 96 - Num rows in df: 4180
Num players: 97 - Num rows in df: 4257
Num players: 98 - Num rows in df: 4326
Num players: 99 - Num rows in df: 4378
Num players: 100 - Num rows in df: 4433
Num players: 101 - Num rows in df: 4481
Num players: 102 - Num rows in df: 4560
Num players: 103 - Num rows in df: 4632
Num players: 104 - Num rows in df: 4642
Num players: 105 - Num rows in df: 4643
Num players: 106 - Num rows in df: 4667
Num players: 107 - Num rows in df: 4743
Num players: 108 - Num rows in df: 4829
Num players: 109 - Num rows in df: 4852
Num players: 110 - Num rows in df: 4878
Num players: 111 - Num rows in df: 4945
Num players: 112 - Num rows in df: 5012
Num players: 113 - Num rows in df: 5066
Num players: 114 - Num rows in df: 5106
Num players: 115 - Num rows in df: 5152
Num players: 116 - Num rows in df: 5228
Num players: 117 - Num rows in df: 5304
Num players: 118 - Num rows in df: 5319
Num players: 119 - Num rows in df: 5401
Num players: 120 - Num rows in df: 5484
Num players: 121 - Num rows in df: 5570
Num players: 122 - Num rows in df: 5614
Num players: 123 - Num rows in df: 5652
Num players: 124 - Num rows in df: 5693
Num players: 125 - Num rows in df: 5724
Num players: 126 - Num rows in df: 5752
Num players: 127 - Num rows in df: 5770
Num players: 128 - Num rows in df: 5817
Num players: 129 - Num rows in df: 5839
Num players: 130 - Num rows in df: 5921
Num players: 131 - Num rows in df: 5960
Num players: 132 - Num rows in df: 6041
Num players: 133 - Num rows in df: 6082
Num players: 134 - Num rows in df: 6152
Num players: 135 - Num rows in df: 6232
Num players: 136 - Num rows in df: 6299
Num players: 137 - Num rows in df: 6365
Num players: 138 - Num rows in df: 6444
Num players: 139 - Num rows in df: 6455
Num players: 140 - Num rows in df: 6471
Num players: 141 - Num rows in df: 6541
Num players: 142 - Num rows in df: 6622
Num players: 143 - Num rows in df: 6679
Num players: 144 - Num rows in df: 6740
Num players: 145 - Num rows in df: 6742
Num players: 146 - Num rows in df: 6817
Num players: 147 - Num rows in df: 6833
Num players: 148 - Num rows in df: 6910
Num players: 149 - Num rows in df: 6980
Num players: 150 - Num rows in df: 7045
Num players: 151 - Num rows in df: 7047
Num players: 152 - Num rows in df: 7066
Num players: 153 - Num rows in df: 7077
Num players: 154 - Num rows in df: 7085
Num players: 155 - Num rows in df: 7134
Num players: 156 - Num rows in df: 7204
Num players: 157 - Num rows in df: 7283
Num players: 158 - Num rows in df: 7360
Num players: 159 - Num rows in df: 7369
Num players: 160 - Num rows in df: 7406
Num players: 161 - Num rows in df: 7432
Num players: 162 - Num rows in df: 7494
Num players: 163 - Num rows in df: 7555
Num players: 164 - Num rows in df: 7616
Num players: 165 - Num rows in df: 7693
Num players: 166 - Num rows in df: 7771
Num players: 167 - Num rows in df: 7856
Num players: 168 - Num rows in df: 7938
Num players: 169 - Num rows in df: 7944
Num players: 170 - Num rows in df: 8017
Num players: 171 - Num rows in df: 8071
Num players: 172 - Num rows in df: 8111
Num players: 173 - Num rows in df: 8120
Num players: 174 - Num rows in df: 8202
Num players: 175 - Num rows in df: 8277
Num players: 176 - Num rows in df: 8284
Num players: 177 - Num rows in df: 8355
Num players: 178 - Num rows in df: 8435
Num players: 179 - Num rows in df: 8465
Num players: 180 - Num rows in df: 8551
Num players: 181 - Num rows in df: 8633
Num players: 182 - Num rows in df: 8634
Num players: 183 - Num rows in df: 8640
Num players: 184 - Num rows in df: 8712
Num players: 185 - Num rows in df: 8780
Num players: 186 - Num rows in df: 8797
Num players: 187 - Num rows in df: 8870
Num players: 188 - Num rows in df: 8951
Num players: 189 - Num rows in df: 9015
Num players: 190 - Num rows in df: 9098
Num players: 191 - Num rows in df: 9101
Num players: 192 - Num rows in df: 9102
Num players: 193 - Num rows in df: 9103
Num players: 194 - Num rows in df: 9110
Num players: 195 - Num rows in df: 9192
Num players: 196 - Num rows in df: 9239
Num players: 197 - Num rows in df: 9278
Num players: 198 - Num rows in df: 9284
Num players: 199 - Num rows in df: 9286
Num players: 200 - Num rows in df: 9353
Num players: 201 - Num rows in df: 9439
Num players: 202 - Num rows in df: 9519
Num players: 203 - Num rows in df: 9591
Num players: 204 - Num rows in df: 9652
Num players: 205 - Num rows in df: 9654
Num players: 206 - Num rows in df: 9655
Num players: 207 - Num rows in df: 9682
Num players: 208 - Num rows in df: 9761
Num players: 209 - Num rows in df: 9762

Num players: 210 - Num rows in df: 9824
Num players: 211 - Num rows in df: 9909
Num players: 212 - Num rows in df: 9945
Num players: 213 - Num rows in df: 10010
Num players: 214 - Num rows in df: 10092
Num players: 215 - Num rows in df: 10127
Num players: 216 - Num rows in df: 10210
Num players: 217 - Num rows in df: 10285
Num players: 218 - Num rows in df: 10362
Num players: 219 - Num rows in df: 10440
Num players: 220 - Num rows in df: 10442
Num players: 221 - Num rows in df: 10482
Num players: 222 - Num rows in df: 10549
Num players: 223 - Num rows in df: 10572
Num players: 224 - Num rows in df: 10655
Num players: 225 - Num rows in df: 10657
Num players: 226 - Num rows in df: 10668
Num players: 227 - Num rows in df: 10703
Num players: 228 - Num rows in df: 10705
Num players: 229 - Num rows in df: 10790
Num players: 230 - Num rows in df: 10872
Num players: 231 - Num rows in df: 10957
Num players: 232 - Num rows in df: 11038
Num players: 233 - Num rows in df: 11115
Num players: 234 - Num rows in df: 11116
Num players: 235 - Num rows in df: 11199
Num players: 236 - Num rows in df: 11258
Num players: 237 - Num rows in df: 11337
Num players: 238 - Num rows in df: 11413
Num players: 239 - Num rows in df: 11480
Num players: 240 - Num rows in df: 11538
Num players: 241 - Num rows in df: 11571
Num players: 242 - Num rows in df: 11643
Num players: 243 - Num rows in df: 11725
Num players: 244 - Num rows in df: 11768
Num players: 245 - Num rows in df: 11793
Num players: 246 - Num rows in df: 11858
Num players: 247 - Num rows in df: 11893
Num players: 248 - Num rows in df: 11957
Num players: 249 - Num rows in df: 12036
Num players: 250 - Num rows in df: 12045
Num players: 251 - Num rows in df: 12127
Num players: 252 - Num rows in df: 12128
Num players: 253 - Num rows in df: 12203
Num players: 254 - Num rows in df: 12207
Num players: 255 - Num rows in df: 12209
Num players: 256 - Num rows in df: 12290
Num players: 257 - Num rows in df: 12349
Num players: 258 - Num rows in df: 12406
Num players: 259 - Num rows in df: 12486
Num players: 260 - Num rows in df: 12562
Num players: 261 - Num rows in df: 12644
Num players: 262 - Num rows in df: 12719
Num players: 263 - Num rows in df: 12720
Num players: 264 - Num rows in df: 12789
Num players: 265 - Num rows in df: 12847
Num players: 266 - Num rows in df: 12851
Num players: 267 - Num rows in df: 12931
Num players: 268 - Num rows in df: 12997
Num players: 269 - Num rows in df: 13008
Num players: 270 - Num rows in df: 13094
Num players: 271 - Num rows in df: 13173
Num players: 272 - Num rows in df: 13255
Num players: 273 - Num rows in df: 13321
Num players: 274 - Num rows in df: 13407
Num players: 275 - Num rows in df: 13462
Num players: 276 - Num rows in df: 13499
Num players: 277 - Num rows in df: 13505
Num players: 278 - Num rows in df: 13514
Num players: 279 - Num rows in df: 13551
Num players: 280 - Num rows in df: 13637
Num players: 281 - Num rows in df: 13639
Num players: 282 - Num rows in df: 13716
Num players: 283 - Num rows in df: 13783
Num players: 284 - Num rows in df: 13841
Num players: 285 - Num rows in df: 13848
Num players: 286 - Num rows in df: 13927
Num players: 287 - Num rows in df: 14009
Num players: 288 - Num rows in df: 14081
Num players: 289 - Num rows in df: 14155
Num players: 290 - Num rows in df: 14165
Num players: 291 - Num rows in df: 14166
Num players: 292 - Num rows in df: 14245
Num players: 293 - Num rows in df: 14326
Num players: 294 - Num rows in df: 14329
Num players: 295 - Num rows in df: 14391
Num players: 296 - Num rows in df: 14418
Num players: 297 - Num rows in df: 14424
Num players: 298 - Num rows in df: 14431
Num players: 299 - Num rows in df: 14488
Num players: 300 - Num rows in df: 14490
Num players: 301 - Num rows in df: 14535
Num players: 302 - Num rows in df: 14620
Num players: 303 - Num rows in df: 14682
Num players: 304 - Num rows in df: 14740
Num players: 305 - Num rows in df: 14746
Num players: 306 - Num rows in df: 14812
Num players: 307 - Num rows in df: 14816
Num players: 308 - Num rows in df: 14896
Num players: 309 - Num rows in df: 14956
Num players: 310 - Num rows in df: 15035
Num players: 311 - Num rows in df: 15121
Num players: 312 - Num rows in df: 15152
Num players: 313 - Num rows in df: 15160
Num players: 314 - Num rows in df: 15211
Num players: 315 - Num rows in df: 15294
Num players: 316 - Num rows in df: 15296
Num players: 317 - Num rows in df: 15372
Num players: 318 - Num rows in df: 15398
Num players: 319 - Num rows in df: 15406
Num players: 320 - Num rows in df: 15464
Num players: 321 - Num rows in df: 15542
Num players: 322 - Num rows in df: 15612
Num players: 323 - Num rows in df: 15670
Num players: 324 - Num rows in df: 15748
Num players: 325 - Num rows in df: 15756
Num players: 326 - Num rows in df: 15842
Num players: 327 - Num rows in df: 15917
Num players: 328 - Num rows in df: 15999
Num players: 329 - Num rows in df: 16085
Num players: 330 - Num rows in df: 16162
Num players: 331 - Num rows in df: 16245
Num players: 332 - Num rows in df: 16319
Num players: 333 - Num rows in df: 16397
Num players: 334 - Num rows in df: 16398
Num players: 335 - Num rows in df: 16470
Num players: 336 - Num rows in df: 16535
Num players: 337 - Num rows in df: 16544
Num players: 338 - Num rows in df: 16610
Num players: 339 - Num rows in df: 16611
Num players: 340 - Num rows in df: 16618
Num players: 341 - Num rows in df: 16619
Num players: 342 - Num rows in df: 16637
Num players: 343 - Num rows in df: 16693
Num players: 344 - Num rows in df: 16769
Num players: 345 - Num rows in df: 16849
Num players: 346 - Num rows in df: 16930
Num players: 347 - Num rows in df: 17009
Num players: 348 - Num rows in df: 17015
Num players: 349 - Num rows in df: 17091
Num players: 350 - Num rows in df: 17093
Num players: 351 - Num rows in df: 17154
Num players: 352 - Num rows in df: 17234
Num players: 353 - Num rows in df: 17289
Num players: 354 - Num rows in df: 17356
Num players: 355 - Num rows in df: 17410
Num players: 356 - Num rows in df: 17427
Num players: 357 - Num rows in df: 17510
Num players: 358 - Num rows in df: 17513
Num players: 359 - Num rows in df: 17514
Num players: 360 - Num rows in df: 17599
Num players: 361 - Num rows in df: 17664
Num players: 362 - Num rows in df: 17709
Num players: 363 - Num rows in df: 17794
Num players: 364 - Num rows in df: 17840
Num players: 365 - Num rows in df: 17862
Num players: 366 - Num rows in df: 17942
Num players: 367 - Num rows in df: 17977
Num players: 368 - Num rows in df: 17996
Num players: 369 - Num rows in df: 18006
Num players: 370 - Num rows in df: 18013
Num players: 371 - Num rows in df: 18099
Num players: 372 - Num rows in df: 18103
Num players: 373 - Num rows in df: 18112
Num players: 374 - Num rows in df: 18191
Num players: 375 - Num rows in df: 18272
Num players: 376 - Num rows in df: 18329
Num players: 377 - Num rows in df: 18379
Num players: 378 - Num rows in df: 18382
Num players: 379 - Num rows in df: 18444
Num players: 380 - Num rows in df: 18453
Num players: 381 - Num rows in df: 18539
Num players: 382 - Num rows in df: 18618
Num players: 383 - Num rows in df: 18630
Num players: 384 - Num rows in df: 18703
Num players: 385 - Num rows in df: 18774
Num players: 386 - Num rows in df: 18834
Num players: 387 - Num rows in df: 18840
Num players: 388 - Num rows in df: 18926
Num players: 389 - Num rows in df: 18928
Num players: 390 - Num rows in df: 18976
Num players: 391 - Num rows in df: 18977
Num players: 392 - Num rows in df: 19042
Num players: 393 - Num rows in df: 19125
Num players: 394 - Num rows in df: 19140
Num players: 395 - Num rows in df: 19213
Num players: 396 - Num rows in df: 19219
Num players: 397 - Num rows in df: 19289
Num players: 398 - Num rows in df: 19314
Num players: 399 - Num rows in df: 19319
Num players: 400 - Num rows in df: 19381
Num players: 401 - Num rows in df: 19460
Num players: 402 - Num rows in df: 19532
Num players: 403 - Num rows in df: 19541
Num players: 404 - Num rows in df: 19609
Num players: 405 - Num rows in df: 19682
Num players: 406 - Num rows in df: 19731
Num players: 407 - Num rows in df: 19812
Num players: 408 - Num rows in df: 19895
Num players: 409 - Num rows in df: 19946

Num players: 410 - Num rows in df: 20025
Num players: 411 - Num rows in df: 20077
Num players: 412 - Num rows in df: 20156
Num players: 413 - Num rows in df: 20216
Num players: 414 - Num rows in df: 20232
Num players: 415 - Num rows in df: 20311
Num players: 416 - Num rows in df: 20393
Num players: 417 - Num rows in df: 20397
Num players: 418 - Num rows in df: 20414
Num players: 419 - Num rows in df: 20433
Num players: 420 - Num rows in df: 20503
Num players: 421 - Num rows in df: 20572
Num players: 422 - Num rows in df: 20583
Num players: 423 - Num rows in df: 20654
Num players: 424 - Num rows in df: 20666
Num players: 425 - Num rows in df: 20751
Num players: 426 - Num rows in df: 20764
Num players: 427 - Num rows in df: 20825
Num players: 428 - Num rows in df: 20904
Num players: 429 - Num rows in df: 20905
Num players: 430 - Num rows in df: 20977
Num players: 431 - Num rows in df: 21059
Num players: 432 - Num rows in df: 21133
Num players: 433 - Num rows in df: 21213
Num players: 434 - Num rows in df: 21290
Num players: 435 - Num rows in df: 21299
Num players: 436 - Num rows in df: 21337
Num players: 437 - Num rows in df: 21370
Num players: 438 - Num rows in df: 21397
Num players: 439 - Num rows in df: 21459
Num players: 440 - Num rows in df: 21461
Num players: 441 - Num rows in df: 21514
Num players: 442 - Num rows in df: 21516
Num players: 443 - Num rows in df: 21597
Num players: 444 - Num rows in df: 21609
Num players: 445 - Num rows in df: 21633
Num players: 446 - Num rows in df: 21705
Num players: 447 - Num rows in df: 21709
Num players: 448 - Num rows in df: 21740
Num players: 449 - Num rows in df: 21823
Num players: 450 - Num rows in df: 21906
Num players: 451 - Num rows in df: 21924
Num players: 452 - Num rows in df: 21932
Num players: 453 - Num rows in df: 22006
Num players: 454 - Num rows in df: 22051
Num players: 455 - Num rows in df: 22134
Num players: 456 - Num rows in df: 22139
Num players: 457 - Num rows in df: 22225
Num players: 458 - Num rows in df: 22270
Num players: 459 - Num rows in df: 22351
Num players: 460 - Num rows in df: 22433
Num players: 461 - Num rows in df: 22518
Num players: 462 - Num rows in df: 22570
Num players: 463 - Num rows in df: 22573
Num players: 464 - Num rows in df: 22643
Num players: 465 - Num rows in df: 22695
Num players: 466 - Num rows in df: 22755
Num players: 467 - Num rows in df: 22771
Num players: 468 - Num rows in df: 22832
Num players: 469 - Num rows in df: 22838
Num players: 470 - Num rows in df: 22839
Num players: 471 - Num rows in df: 22906
Num players: 472 - Num rows in df: 22976
Num players: 473 - Num rows in df: 23019
Num players: 474 - Num rows in df: 23100
Num players: 475 - Num rows in df: 23115
Num players: 476 - Num rows in df: 23201
Num players: 477 - Num rows in df: 23225
Num players: 478 - Num rows in df: 23311
Num players: 479 - Num rows in df: 23339
Num players: 480 - Num rows in df: 23349
Num players: 481 - Num rows in df: 23435
Num players: 482 - Num rows in df: 23436
Num players: 483 - Num rows in df: 23494
Num players: 484 - Num rows in df: 23571
Num players: 485 - Num rows in df: 23572
Num players: 486 - Num rows in df: 23591
Num players: 487 - Num rows in df: 23599
Num players: 488 - Num rows in df: 23679
Num players: 489 - Num rows in df: 23712
Num players: 490 - Num rows in df: 23713
Num players: 491 - Num rows in df: 23795
Num players: 492 - Num rows in df: 23880
Num players: 493 - Num rows in df: 23881
Num players: 494 - Num rows in df: 23922
Num players: 495 - Num rows in df: 23991
Num players: 496 - Num rows in df: 23995
Num players: 497 - Num rows in df: 24054
Num players: 498 - Num rows in df: 24139
Num players: 499 - Num rows in df: 24206
Num players: 500 - Num rows in df: 24287
Num players: 501 - Num rows in df: 24336
Num players: 502 - Num rows in df: 24382
Num players: 503 - Num rows in df: 24425
Num players: 504 - Num rows in df: 24502
Num players: 505 - Num rows in df: 24585
Num players: 506 - Num rows in df: 24671
Num players: 507 - Num rows in df: 24730
Num players: 508 - Num rows in df: 24789
Num players: 509 - Num rows in df: 24869
Num players: 510 - Num rows in df: 24939
Num players: 511 - Num rows in df: 25021
Num players: 512 - Num rows in df: 25097
Num players: 513 - Num rows in df: 25174
Num players: 514 - Num rows in df: 25196
Num players: 515 - Num rows in df: 25197
Num players: 516 - Num rows in df: 25250
Num players: 517 - Num rows in df: 25251
Num players: 518 - Num rows in df: 25309
Num players: 519 - Num rows in df: 25391
Num players: 520 - Num rows in df: 25425
Num players: 521 - Num rows in df: 25483
Num players: 522 - Num rows in df: 25488
Num players: 523 - Num rows in df: 25566
Num players: 524 - Num rows in df: 25619
Num players: 525 - Num rows in df: 25625
Num players: 526 - Num rows in df: 25699
Num players: 527 - Num rows in df: 25785
Num players: 528 - Num rows in df: 25791
Num players: 529 - Num rows in df: 25836
Num players: 530 - Num rows in df: 25906
Num players: 531 - Num rows in df: 25975
Num players: 532 - Num rows in df: 26048
Num players: 533 - Num rows in df: 26085
Num players: 534 - Num rows in df: 26163
Num players: 535 - Num rows in df: 26242
Num players: 536 - Num rows in df: 26319
Num players: 537 - Num rows in df: 26326
Num players: 538 - Num rows in df: 26378
Num players: 539 - Num rows in df: 26392
Num players: 540 - Num rows in df: 26435
Num players: 541 - Num rows in df: 26516
Num players: 542 - Num rows in df: 26548
Num players: 543 - Num rows in df: 26550
Num players: 544 - Num rows in df: 26633
Num players: 545 - Num rows in df: 26697
Num players: 546 - Num rows in df: 26779
Num players: 547 - Num rows in df: 26788
Num players: 548 - Num rows in df: 26867
Num players: 549 - Num rows in df: 26948
Num players: 550 - Num rows in df: 27034
Num players: 551 - Num rows in df: 27108
Num players: 552 - Num rows in df: 27132
Num players: 553 - Num rows in df: 27198
Num players: 554 - Num rows in df: 27271
Num players: 555 - Num rows in df: 27272
Num players: 556 - Num rows in df: 27285
Num players: 557 - Num rows in df: 27286
Num players: 558 - Num rows in df: 27343
Num players: 559 - Num rows in df: 27413
Num players: 560 - Num rows in df: 27495
Num players: 561 - Num rows in df: 27581
Num players: 562 - Num rows in df: 27605
Num players: 563 - Num rows in df: 27673
Num players: 564 - Num rows in df: 27756
Num players: 565 - Num rows in df: 27782
Num players: 566 - Num rows in df: 27863
Num players: 567 - Num rows in df: 27943
Num players: 568 - Num rows in df: 28012
Num players: 569 - Num rows in df: 28036
Num players: 570 - Num rows in df: 28096
Num players: 571 - Num rows in df: 28104
Num players: 572 - Num rows in df: 28118
Num players: 573 - Num rows in df: 28196
Num players: 574 - Num rows in df: 28197
Num players: 575 - Num rows in df: 28200
Num players: 576 - Num rows in df: 28268
Num players: 577 - Num rows in df: 28307
Num players: 578 - Num rows in df: 28387
Num players: 579 - Num rows in df: 28399
Num players: 580 - Num rows in df: 28442
Num players: 581 - Num rows in df: 28450
Num players: 582 - Num rows in df: 28451
Num players: 583 - Num rows in df: 28469
Num players: 584 - Num rows in df: 28510
Num players: 585 - Num rows in df: 28596
Num players: 586 - Num rows in df: 28666
Num players: 587 - Num rows in df: 28704
Num players: 588 - Num rows in df: 28777
Num players: 589 - Num rows in df: 28833
Num players: 590 - Num rows in df: 28918
Num players: 591 - Num rows in df: 28993
Num players: 592 - Num rows in df: 28994
Num players: 593 - Num rows in df: 29079
Num players: 594 - Num rows in df: 29106
Num players: 595 - Num rows in df: 29167
Num players: 596 - Num rows in df: 29241
Num players: 597 - Num rows in df: 29318
Num players: 598 - Num rows in df: 29319
Num players: 599 - Num rows in df: 29395
Num players: 600 - Num rows in df: 29459
Num players: 601 - Num rows in df: 29500
Num players: 602 - Num rows in df: 29570
Num players: 603 - Num rows in df: 29651
Num players: 604 - Num rows in df: 29661
Num players: 605 - Num rows in df: 29739
Num players: 606 - Num rows in df: 29816
Num players: 607 - Num rows in df: 29818
Num players: 608 - Num rows in df: 29871
Num players: 609 - Num rows in df: 29881

Num players: 610 - Num rows in df: 29964
Num players: 611 - Num rows in df: 30038
Num players: 612 - Num rows in df: 30105
Num players: 613 - Num rows in df: 30150
Num players: 614 - Num rows in df: 30161
Num players: 615 - Num rows in df: 30241
Num players: 616 - Num rows in df: 30315
Num players: 617 - Num rows in df: 30386
Num players: 618 - Num rows in df: 30458
Num players: 619 - Num rows in df: 30467
Num players: 620 - Num rows in df: 30487
Num players: 621 - Num rows in df: 30533
Num players: 622 - Num rows in df: 30613
Num players: 623 - Num rows in df: 30665
Num players: 624 - Num rows in df: 30751
Num players: 625 - Num rows in df: 30760
Num players: 626 - Num rows in df: 30800
Num players: 627 - Num rows in df: 30802
Num players: 628 - Num rows in df: 30874
Num players: 629 - Num rows in df: 30912
Num players: 630 - Num rows in df: 30917
Num players: 631 - Num rows in df: 30930
Num players: 632 - Num rows in df: 30999
Num players: 633 - Num rows in df: 31054
Num players: 634 - Num rows in df: 31110
Num players: 635 - Num rows in df: 31179
Num players: 636 - Num rows in df: 31218
Num players: 637 - Num rows in df: 31301
Num players: 638 - Num rows in df: 31387
Num players: 639 - Num rows in df: 31398
Num players: 640 - Num rows in df: 31406
Num players: 641 - Num rows in df: 31447
Num players: 642 - Num rows in df: 31515
Num players: 643 - Num rows in df: 31600
Num players: 644 - Num rows in df: 31607
Num players: 645 - Num rows in df: 31692
Num players: 646 - Num rows in df: 31774
Num players: 647 - Num rows in df: 31819
Num players: 648 - Num rows in df: 31879
Num players: 649 - Num rows in df: 31898
Num players: 650 - Num rows in df: 31957
Num players: 651 - Num rows in df: 31976
Num players: 652 - Num rows in df: 32014
Num players: 653 - Num rows in df: 32063
Num players: 654 - Num rows in df: 32091
Num players: 655 - Num rows in df: 32177
Num players: 656 - Num rows in df: 32255
Num players: 657 - Num rows in df: 32306
Num players: 658 - Num rows in df: 32325
Num players: 659 - Num rows in df: 32406
Num players: 660 - Num rows in df: 32415
Num players: 661 - Num rows in df: 32490
Num players: 662 - Num rows in df: 32556
Num players: 663 - Num rows in df: 32630
Num players: 664 - Num rows in df: 32695
Num players: 665 - Num rows in df: 32773
Num players: 666 - Num rows in df: 32793
Num players: 667 - Num rows in df: 32866
Num players: 668 - Num rows in df: 32879
Num players: 669 - Num rows in df: 32881
Num players: 670 - Num rows in df: 32887
Num players: 671 - Num rows in df: 32956
Num players: 672 - Num rows in df: 33034
Num players: 673 - Num rows in df: 33062
Num players: 674 - Num rows in df: 33128
Num players: 675 - Num rows in df: 33202
Num players: 676 - Num rows in df: 33203
Num players: 677 - Num rows in df: 33288
Num players: 678 - Num rows in df: 33374
Num players: 679 - Num rows in df: 33414
Num players: 680 - Num rows in df: 33437
Num players: 681 - Num rows in df: 33522
Num players: 682 - Num rows in df: 33569
Num players: 683 - Num rows in df: 33574
Num players: 684 - Num rows in df: 33651
Num players: 685 - Num rows in df: 33726
Num players: 686 - Num rows in df: 33736
Num players: 687 - Num rows in df: 33811
Num players: 688 - Num rows in df: 33816
Num players: 689 - Num rows in df: 33897
Num players: 690 - Num rows in df: 33976
Num players: 691 - Num rows in df: 34022
Num players: 692 - Num rows in df: 34102
Num players: 693 - Num rows in df: 34104
Num players: 694 - Num rows in df: 34144
Num players: 695 - Num rows in df: 34224
Num players: 696 - Num rows in df: 34304
Num players: 697 - Num rows in df: 34376
Num players: 698 - Num rows in df: 34454
Num players: 699 - Num rows in df: 34458
Num players: 700 - Num rows in df: 34483
Num players: 701 - Num rows in df: 34566
Num players: 702 - Num rows in df: 34652
Num players: 703 - Num rows in df: 34727
Num players: 704 - Num rows in df: 34737
Num players: 705 - Num rows in df: 34763
Num players: 706 - Num rows in df: 34846
Num players: 707 - Num rows in df: 34932
Num players: 708 - Num rows in df: 34935
Num players: 709 - Num rows in df: 35006
Num players: 710 - Num rows in df: 35011
Num players: 711 - Num rows in df: 35041
Num players: 712 - Num rows in df: 35127
Num players: 713 - Num rows in df: 35208
Num players: 714 - Num rows in df: 35226
Num players: 715 - Num rows in df: 35250
Num players: 716 - Num rows in df: 35251
Num players: 717 - Num rows in df: 35277
Num players: 718 - Num rows in df: 35347
Num players: 719 - Num rows in df: 35433
Num players: 720 - Num rows in df: 35452
Num players: 721 - Num rows in df: 35525
Num players: 722 - Num rows in df: 35543
Num players: 723 - Num rows in df: 35611
Num players: 724 - Num rows in df: 35613
Num players: 725 - Num rows in df: 35684
Num players: 726 - Num rows in df: 35767
Num players: 727 - Num rows in df: 35842
Num players: 728 - Num rows in df: 35895
Num players: 729 - Num rows in df: 35899
Num players: 730 - Num rows in df: 35982
Num players: 731 - Num rows in df: 35984
Num players: 732 - Num rows in df: 35989
Num players: 733 - Num rows in df: 36069
Num players: 734 - Num rows in df: 36138
Num players: 735 - Num rows in df: 36178
Num players: 736 - Num rows in df: 36260
Num players: 737 - Num rows in df: 36319
Num players: 738 - Num rows in df: 36335
Num players: 739 - Num rows in df: 36404
Num players: 740 - Num rows in df: 36445
Num players: 741 - Num rows in df: 36447
Num players: 742 - Num rows in df: 36458
Num players: 743 - Num rows in df: 36466
/p/priskch02 was not found among season 2022 skaters on HockeyReference.com
Num players: 744 - Num rows in df: 36500
Num players: 745 - Num rows in df: 36582
Num players: 746 - Num rows in df: 36586
Num players: 747 - Num rows in df: 36654
Num players: 748 - Num rows in df: 36712
Num players: 749 - Num rows in df: 36713
Num players: 750 - Num rows in df: 36784
Num players: 751 - Num rows in df: 36786
Num players: 752 - Num rows in df: 36790
Num players: 753 - Num rows in df: 36867
Num players: 754 - Num rows in df: 36941
Num players: 755 - Num rows in df: 37020
Num players: 756 - Num rows in df: 37093
Num players: 757 - Num rows in df: 37171
Num players: 758 - Num rows in df: 37181
Num players: 759 - Num rows in df: 37186
Num players: 760 - Num rows in df: 37235
Num players: 761 - Num rows in df: 37318
Num players: 762 - Num rows in df: 37328
Num players: 763 - Num rows in df: 37337
Num players: 764 - Num rows in df: 37342
Num players: 765 - Num rows in df: 37428
Num players: 766 - Num rows in df: 37500
Num players: 767 - Num rows in df: 37536
Num players: 768 - Num rows in df: 37551
Num players: 769 - Num rows in df: 37564
Num players: 770 - Num rows in df: 37575
Num players: 771 - Num rows in df: 37648
Num players: 772 - Num rows in df: 37649
Num players: 773 - Num rows in df: 37730
Num players: 774 - Num rows in df: 37731
Num players: 775 - Num rows in df: 37735
Num players: 776 - Num rows in df: 37781
Num players: 777 - Num rows in df: 37867
Num players: 778 - Num rows in df: 37872
Num players: 779 - Num rows in df: 37941
Num players: 780 - Num rows in df: 37984
Num players: 781 - Num rows in df: 38043
Num players: 782 - Num rows in df: 38120
Num players: 783 - Num rows in df: 38130
Num players: 784 - Num rows in df: 38163
Num players: 785 - Num rows in df: 38233
Num players: 786 - Num rows in df: 38319
Num players: 787 - Num rows in df: 38401
Num players: 788 - Num rows in df: 38432
Num players: 789 - Num rows in df: 38496
Num players: 790 - Num rows in df: 38514
Num players: 791 - Num rows in df: 38599
Num players: 792 - Num rows in df: 38601
Num players: 793 - Num rows in df: 38656
Num players: 794 - Num rows in df: 38683
Num players: 795 - Num rows in df: 38753
Num players: 796 - Num rows in df: 38834
Num players: 797 - Num rows in df: 38837
Num players: 798 - Num rows in df: 38918
Num players: 799 - Num rows in df: 38936
Num players: 800 - Num rows in df: 38968
Num players: 801 - Num rows in df: 39030
Num players: 802 - Num rows in df: 39109
Num players: 803 - Num rows in df: 39138
Num players: 804 - Num rows in df: 39216
Num players: 805 - Num rows in df: 39297
Num players: 806 - Num rows in df: 39304
Num players: 807 - Num rows in df: 39326

Num players: 808 - Num rows in df: 39341
Num players: 809 - Num rows in df: 39342
Num players: 810 - Num rows in df: 39386
Num players: 811 - Num rows in df: 39387
Num players: 812 - Num rows in df: 39440
Num players: 813 - Num rows in df: 39523
Num players: 814 - Num rows in df: 39606
Num players: 815 - Num rows in df: 39671
Num players: 816 - Num rows in df: 39744
Num players: 817 - Num rows in df: 39780
Num players: 818 - Num rows in df: 39850
Num players: 819 - Num rows in df: 39915
Num players: 820 - Num rows in df: 39984
Num players: 821 - Num rows in df: 40050
Num players: 822 - Num rows in df: 40130
Num players: 823 - Num rows in df: 40175
Num players: 824 - Num rows in df: 40200
Num players: 825 - Num rows in df: 40277
Num players: 826 - Num rows in df: 40315
Num players: 827 - Num rows in df: 40318
Num players: 828 - Num rows in df: 40363
Num players: 829 - Num rows in df: 40448
Num players: 830 - Num rows in df: 40534
Num players: 831 - Num rows in df: 40567
Num players: 832 - Num rows in df: 40570
Num players: 833 - Num rows in df: 40572
Num players: 834 - Num rows in df: 40574
Num players: 835 - Num rows in df: 40655
Num players: 836 - Num rows in df: 40738
Num players: 837 - Num rows in df: 40748
Num players: 838 - Num rows in df: 40827
Num players: 839 - Num rows in df: 40913
Num players: 840 - Num rows in df: 40930
Num players: 841 - Num rows in df: 40933
Num players: 842 - Num rows in df: 41005
Num players: 843 - Num rows in df: 41079
Num players: 844 - Num rows in df: 41090
Num players: 845 - Num rows in df: 41091
Num players: 846 - Num rows in df: 41142
Num players: 847 - Num rows in df: 41215
Num players: 848 - Num rows in df: 41220
Num players: 849 - Num rows in df: 41275
Num players: 850 - Num rows in df: 41357
Num players: 851 - Num rows in df: 41394
Num players: 852 - Num rows in df: 41469
Num players: 853 - Num rows in df: 41544
Num players: 854 - Num rows in df: 41626
Num players: 855 - Num rows in df: 41709
Num players: 856 - Num rows in df: 41795
Num players: 857 - Num rows in df: 41877
Num players: 858 - Num rows in df: 41892
Num players: 859 - Num rows in df: 41939
Num players: 860 - Num rows in df: 41940
Num players: 861 - Num rows in df: 41948
Num players: 862 - Num rows in df: 42025
Num players: 863 - Num rows in df: 42028
Num players: 864 - Num rows in df: 42076
Num players: 865 - Num rows in df: 42086
Num players: 866 - Num rows in df: 42144
Num players: 867 - Num rows in df: 42213
Num players: 868 - Num rows in df: 42225
Num players: 869 - Num rows in df: 42241
Num players: 870 - Num rows in df: 42249
Num players: 871 - Num rows in df: 42316
Num players: 872 - Num rows in df: 42318
Num players: 873 - Num rows in df: 42343
Num players: 874 - Num rows in df: 42417
Num players: 875 - Num rows in df: 42483
Num players: 876 - Num rows in df: 42551
Num players: 877 - Num rows in df: 42632
Num players: 878 - Num rows in df: 42706
Num players: 879 - Num rows in df: 42791
Num players: 880 - Num rows in df: 42851
Num players: 881 - Num rows in df: 42925
Num players: 882 - Num rows in df: 42955
Num players: 883 - Num rows in df: 43026
Num players: 884 - Num rows in df: 43046
Num players: 885 - Num rows in df: 43049
Num players: 886 - Num rows in df: 43052
Num players: 887 - Num rows in df: 43112
Num players: 888 - Num rows in df: 43194
Num players: 889 - Num rows in df: 43222
Num players: 890 - Num rows in df: 43276
Num players: 891 - Num rows in df: 43314
Num players: 892 - Num rows in df: 43325
Num players: 893 - Num rows in df: 43402
Num players: 894 - Num rows in df: 43410
Num players: 895 - Num rows in df: 43482
Num players: 896 - Num rows in df: 43559
Num players: 897 - Num rows in df: 43593
Num players: 898 - Num rows in df: 43608
Num players: 899 - Num rows in df: 43690
Num players: 900 - Num rows in df: 43767
Num players: 901 - Num rows in df: 43847
Num players: 902 - Num rows in df: 43908
Num players: 903 - Num rows in df: 43947
Num players: 904 - Num rows in df: 44033
Num players: 905 - Num rows in df: 44119
Num players: 906 - Num rows in df: 44205
Num players: 907 - Num rows in df: 44286
Num players: 908 - Num rows in df: 44361
Num players: 909 - Num rows in df: 44392
Num players: 910 - Num rows in df: 44478
Num players: 911 - Num rows in df: 44556
Num players: 912 - Num rows in df: 44635
Num players: 913 - Num rows in df: 44717
Num players: 914 - Num rows in df: 44725
Num players: 915 - Num rows in df: 44805
Num players: 916 - Num rows in df: 44883
Num players: 917 - Num rows in df: 44920
Num players: 918 - Num rows in df: 45001
Num players: 919 - Num rows in df: 45076
Num players: 920 - Num rows in df: 45110
Num players: 921 - Num rows in df: 45191
Num players: 922 - Num rows in df: 45193
Num players: 923 - Num rows in df: 45209
Num players: 924 - Num rows in df: 45244
Num players: 925 - Num rows in df: 45317
Num players: 926 - Num rows in df: 45323
Num players: 927 - Num rows in df: 45330
Num players: 928 - Num rows in df: 45396
Num players: 929 - Num rows in df: 45478
Num players: 930 - Num rows in df: 45564
Num players: 931 - Num rows in df: 45568
Num players: 932 - Num rows in df: 45637
Num players: 933 - Num rows in df: 45711
Num players: 934 - Num rows in df: 45788
Num players: 935 - Num rows in df: 45866
Num players: 936 - Num rows in df: 45945
Num players: 937 - Num rows in df: 46025
Num players: 938 - Num rows in df: 46054
Num players: 939 - Num rows in df: 46055
Num players: 940 - Num rows in df: 46138
Num players: 941 - Num rows in df: 46223
Num players: 942 - Num rows in df: 46308
Num players: 943 - Num rows in df: 46316
Num players: 944 - Num rows in df: 46368
Num players: 945 - Num rows in df: 46378
Num players: 946 - Num rows in df: 46386
Num players: 947 - Num rows in df: 46410
Num players: 948 - Num rows in df: 46412
Num players: 949 - Num rows in df: 46442
Num players: 950 - Num rows in df: 46451
Num players: 951 - Num rows in df: 46537
Num players: 952 - Num rows in df: 46612
Num players: 953 - Num rows in df: 46686
Num players: 954 - Num rows in df: 46687
Num players: 955 - Num rows in df: 46693
Num players: 956 - Num rows in df: 46762
Num players: 957 - Num rows in df: 46843
Num players: 958 - Num rows in df: 46898
Num players: 959 - Num rows in df: 46969
Num players: 960 - Num rows in df: 47004
Num players: 961 - Num rows in df: 47030
Num players: 962 - Num rows in df: 47045
Num players: 963 - Num rows in df: 47123
Num players: 964 - Num rows in df: 47205
Num players: 965 - Num rows in df: 47232
Num players: 966 - Num rows in df: 47233
Num players: 967 - Num rows in df: 47309
Num players: 968 - Num rows in df: 47340
Num players: 969 - Num rows in df: 47346
Num players: 970 - Num rows in df: 47399
Num players: 971 - Num rows in df: 47400
Num players: 972 - Num rows in df: 47470
Num players: 973 - Num rows in df: 47522
Num players: 974 - Num rows in df: 47605
Num players: 975 - Num rows in df: 47688
Num players: 976 - Num rows in df: 47759
Num players: 977 - Num rows in df: 47827
Num players: 978 - Num rows in df: 47852
Num players: 979 - Num rows in df: 47880
Num players: 980 - Num rows in df: 47941
Num players: 981 - Num rows in df: 48008
Num players: 982 - Num rows in df: 48051
Num players: 983 - Num rows in df: 48132
Num players: 984 - Num rows in df: 48133
Num players: 985 - Num rows in df: 48142
Num players: 986 - Num rows in df: 48145
Num players: 987 - Num rows in df: 48230
Num players: 988 - Num rows in df: 48310
Num players: 989 - Num rows in df: 48324
Num players: 990 - Num rows in df: 48355
Num players: 991 - Num rows in df: 48428
Num players: 992 - Num rows in df: 48505
Num players: 993 - Num rows in df: 48582
Num players: 994 - Num rows in df: 48647
Num players: 995 - Num rows in df: 48657
Num players: 996 - Num rows in df: 48667
Num players: 997 - Num rows in df: 48745
Num players: 998 - Num rows in df: 48759
Num players: 999 - Num rows in df: 48844
Num players: 1000 - Num rows in df: 48861
Num players: 1001 - Num rows in df: 48946
Num players: 1002 - Num rows in df: 49019
Num players: 1003 - Num rows in df: 49062

## Apply function on all goalie IDs

In [17]:
# Initalize empty df to store all player game logs combined
goalie_games = pd.DataFrame()
# Place to store any player ID that does NOT get added to data frame
goalie_ids_that_go_wrong = []

# Set up scheduler object to fun the game log function every 2 seconds
scheduler = sched.scheduler(time.time, time.sleep)

# Fill with web scrape output
# Is this the most efficient way of doing things?
for id_code in unique_goalie_ids:
    scheduler.enter(3, 1, action = get_game_log, argument = (id_code, "goalie"))
    scheduler.run()

Num players: 1 - Num rows in df: 30
Num players: 2 - Num rows in df: 34
Num players: 3 - Num rows in df: 59
Num players: 4 - Num rows in df: 84
Num players: 5 - Num rows in df: 128
Num players: 6 - Num rows in df: 164
Num players: 7 - Num rows in df: 196
Num players: 8 - Num rows in df: 210
Num players: 9 - Num rows in df: 233
Num players: 10 - Num rows in df: 234
Num players: 11 - Num rows in df: 242
Num players: 12 - Num rows in df: 243
Num players: 13 - Num rows in df: 249
Num players: 14 - Num rows in df: 256
Num players: 15 - Num rows in df: 292
Num players: 16 - Num rows in df: 312
Num players: 17 - Num rows in df: 313
Num players: 18 - Num rows in df: 337
Num players: 19 - Num rows in df: 360
Num players: 20 - Num rows in df: 391
Num players: 21 - Num rows in df: 428
Num players: 22 - Num rows in df: 436
Num players: 23 - Num rows in df: 455
Num players: 24 - Num rows in df: 457
Num players: 25 - Num rows in df: 493
Num players: 26 - Num rows in df: 528
Num players: 27 - Num rows in df: 530
Num players: 28 - Num rows in df: 571
Num players: 29 - Num rows in df: 580
Num players: 30 - Num rows in df: 599
Num players: 31 - Num rows in df: 627
Num players: 32 - Num rows in df: 674
Num players: 33 - Num rows in df: 693
Num players: 34 - Num rows in df: 707
Num players: 35 - Num rows in df: 729
Num players: 36 - Num rows in df: 733
Num players: 37 - Num rows in df: 750
Num players: 38 - Num rows in df: 758
Num players: 39 - Num rows in df: 771
Num players: 40 - Num rows in df: 811
Num players: 41 - Num rows in df: 826
Num players: 42 - Num rows in df: 861
Num players: 43 - Num rows in df: 886
Num players: 44 - Num rows in df: 887
Num players: 45 - Num rows in df: 920
Num players: 46 - Num rows in df: 929
Num players: 47 - Num rows in df: 931
Num players: 48 - Num rows in df: 935
Num players: 49 - Num rows in df: 945
Num players: 50 - Num rows in df: 979
Num players: 51 - Num rows in df: 1006
Num players: 52 - Num rows in df: 1034
Num players: 53 - Num rows in df: 1035
Num players: 54 - Num rows in df: 1073
Num players: 55 - Num rows in df: 1092
Num players: 56 - Num rows in df: 1096
Num players: 57 - Num rows in df: 1102
Num players: 58 - Num rows in df: 1147
Num players: 59 - Num rows in df: 1159
Num players: 60 - Num rows in df: 1162
Num players: 61 - Num rows in df: 1191
Num players: 62 - Num rows in df: 1207
Num players: 63 - Num rows in df: 1212
Num players: 64 - Num rows in df: 1224
Num players: 65 - Num rows in df: 1252
Num players: 66 - Num rows in df: 1276
Num players: 67 - Num rows in df: 1306
Num players: 68 - Num rows in df: 1342
Num players: 69 - Num rows in df: 1348
Num players: 70 - Num rows in df: 1374
Num players: 71 - Num rows in df: 1378
Num players: 72 - Num rows in df: 1381
Num players: 73 - Num rows in df: 1404
Num players: 74 - Num rows in df: 1416
Num players: 75 - Num rows in df: 1441
Num players: 76 - Num rows in df: 1464
Num players: 77 - Num rows in df: 1489
Num players: 78 - Num rows in df: 1508
Num players: 79 - Num rows in df: 1527
Num players: 80 - Num rows in df: 1564
Num players: 81 - Num rows in df: 1600
Num players: 82 - Num rows in df: 1601
Num players: 83 - Num rows in df: 1634
Num players: 84 - Num rows in df: 1657
Num players: 85 - Num rows in df: 1665
Num players: 86 - Num rows in df: 1681
Num players: 87 - Num rows in df: 1691
Num players: 88 - Num rows in df: 1725
Num players: 89 - Num rows in df: 1726
Num players: 90 - Num rows in df: 1739
Num players: 91 - Num rows in df: 1759
Num players: 92 - Num rows in df: 1797
Num players: 93 - Num rows in df: 1834
Num players: 94 - Num rows in df: 1878
Num players: 95 - Num rows in df: 1879
Num players: 96 - Num rows in df: 1884
Num players: 97 - Num rows in df: 1900
Num players: 98 - Num rows in df: 1901

## Clean the data frame of skater statistics

In [22]:
# Rename columns
skater_games.columns = ['rank', 'date', 'game_num', 'age', 'team', 'home_away_status', 'opponent', 'result', 
                        'G', 'A', 'P', 'rating', 'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S_perc',
                        'shifts', 'TOI', 'HIT', 'BLK', 'FOW', 'FOL', 'FOW_perc', 'player_id', 'season']

# Remove these weird rows... They are not actual data (just repeated column names)
skater_games = skater_games.loc[skater_games[('rank')] != 'Rk']

# Left join the player_name column to the data frame
skater_games = skater_games.merge(skater_ids_names, on = 'player_id', how = 'left')

# Reorder the columns 
skater_games = skater_games[['rank', 'player_id', 'player_name', 'age', 'season', 'game_num', 'date', 'team', 
                            'opponent', 'home_away_status', 'result', 'G', 'A', 'P', 'rating', 'PIM', 'EVG', 
                             'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S_perc', 'shifts', 'TOI', 'HIT', 
                             'BLK', 'FOW', 'FOL', 'FOW_perc']]

# Clean home_away_status column. 1 means the player played a home game. 0 means the game was on the road.
skater_games = skater_games.replace({'home_away_status': {'@':0, None:1}})

# Fix age strings to just reflect age in years. We probably don't care about days since last birthday.
skater_games['age'] = skater_games.age.str.extract(pat = '(\d+)')

# Convert time on ice (TOI) to minutes using decimal. For example 22:40 should become 22.666667.
skater_games[['min', 'sec']] = skater_games.TOI.str.split(':', expand = True)
skater_games['TOI'] = skater_games['min'].astype('float') + skater_games['sec'].astype('float') / 60

# Now drop columns we don't need.
skater_games = skater_games.drop(columns = ['rank', 'min', 'sec'])

# Convert columns to correct types. The proper types are listed below.
    # Date --> [date]
    # Integer --> [game_num, age, home_away_status, G, A, P, rating, PIM, EVG, PPG, SHG, GWG, EVA, PPA, 
                # SHA, S, shifts, HIT, BLK, FOW, FOL, season]
    # Float --> [S_per, TOI, FOW_perc]
    # String --> [player_id, team, opponent, result]
skater_games = skater_games.astype({'date':'datetime64[ns]','game_num':'int', 'age':'int',
                                              'team':'str', 'home_away_status':'int', 'opponent':'str', 
                                              'result':'str', 'G':'int', 'A':'int', 'P':'int', 'rating':'int', 
                                              'PIM':'int', 'EVG':'int', 'PPG':'int', 'SHG':'int', 'GWG':'int', 
                                              'EVA':'int', 'PPA':'int', 'SHA':'int', 'S':'int', 'S_perc':'float',
                                              'shifts':'int', 'TOI':'float', 'HIT':'int', 'BLK':'int', 'FOW':'int', 
                                              'FOL':'int', 'FOW_perc':'float', 'player_id':'str', 'season':'int', 
                                              'player_name':'str'})

## Clean data frame for goalies

In [18]:
# Rename columns
goalie_games.columns = ['rank', 'date', 'game_num', 'age', 'team', 'home_away_status', 'opponent', 'result', 
                        'decision', 'GA', 'SA', 'SV', 'SV_perc', 'shutout', 'PIM', 'TOI', 'player_id', 'season']

# Remove these weird rows... They are not actual data (just repeated column names)
goalie_games = goalie_games.loc[goalie_games[('rank')] != 'Rk']

# Left join the player_name column to the data frame
goalie_games = goalie_games.merge(goalie_ids_names, on = 'player_id', how = 'left')

# Reorder the columns 
goalie_games = goalie_games[['rank', 'player_id', 'player_name', 'age', 'season', 'game_num', 'date', 'team', 
                            'opponent', 'home_away_status', 'result', 'decision', 'GA', 'SA', 'SV', 'SV_perc', 
                             'shutout', 'PIM', 'TOI']]

# Clean home_away_status column. 1 means the player played a home game. 0 means the game was on the road.
goalie_games = goalie_games.replace({'home_away_status': {'@':0, None:1}})

# Fix age strings to just reflect age in years. We probably don't care about days since last birthday.
goalie_games['age'] = goalie_games.age.str.extract(pat = '(\d+)')

# Convert time on ice (TOI) to minutes using decimal. For example 22:40 should become 22.666667.
goalie_games[['min', 'sec']] = goalie_games.TOI.str.split(':', expand = True)
goalie_games['TOI'] = goalie_games['min'].astype('float') + goalie_games['sec'].astype('float') / 60

# Now drop columns we don't need.
goalie_games = goalie_games.drop(columns = ['rank', 'min', 'sec'])

# Convert columns to correct types. The proper types are listed below.
    # Date --> [date]
    # Integer --> [age, season, game_num, home_away_status, GA, SA, SV, shutout, PIM]
    # Float --> [SV_perc, TOI]
    # String --> [player_id, player_name, team, opponent, result, decision]
goalie_games = goalie_games.astype({'date':'datetime64[ns]', 'age':'int', 'season':'int', 'game_num':'int', 
                                    'home_away_status':'int', 'GA':'int', 'SA':'int', 'SV':'int', 
                                    'shutout':'int', 'PIM':'int', 'SV_perc':'float', 'TOI':'float', 
                                    'player_id':'str', 'player_name':'str', 'team':'str', 'opponent':'str', 
                                    'result':'str', 'decision':'str'})

## Sanity checks for skaters

In [19]:
# HockeyReference does not show this player's games (even though he played 4 games this season). 
# Nothing we can do about this. He isn't a major player anyways.
print(skater_ids_that_go_wrong)

NameError: name 'skater_ids_that_go_wrong' is not defined

In [24]:
# Should have 1003 since 2 Sebastian Aho's but the player above was excluded
print(len(skater_games.player_id.unique()))

1003

In [25]:
# All players should have between 1 and 82 games played
print(sum(skater_games.groupby(['player_id'])['player_id'].count() <= 0))
print(sum(skater_games.groupby(['player_id'])['player_id'].count() > 82))

0
0

## Sanity checks for goalies

In [20]:
# Which IDs could we not find data for?
print(goalie_ids_that_go_wrong)

[]

In [21]:
# Number of unique goalies
print(len(goalie_games.player_id.unique()))

98

In [22]:
# All goalies should have between 1 and 82 games played
print(sum(goalie_games.groupby(['player_id'])['player_id'].count() <= 0))
print(sum(goalie_games.groupby(['player_id'])['player_id'].count() > 82))

0
0

In [26]:
# Goals against should equal shots against minus saves
print(sum(goalie_games.GA != goalie_games.SA - goalie_games.SV))

0

## Write the final data frame to a .csv file

In [23]:
#os.getcwd()
directory_to_save_s = '../data/stats/skaters_' + str(season) + '.csv'
skater_games.to_csv(directory_to_save_s, index = False)

#os.getcwd()
directory_to_save_g = '../data/stats/goalies_' + str(season) + '.csv'
goalie_games.to_csv(directory_to_save_g, index = False)