### Insert DK odds data into MySQL

In [1]:
# Packages
import pandas as pd
import sqlalchemy

In [2]:
# User input
# path_to_ml_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_ml_odds.csv"
# path_to_pl_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_pl_odds.csv"
# path_to_total_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_total_odds.csv"

path_to_ml_odds = "../data/daily/odds/ml_odds.csv"
path_to_pl_odds = "../data/daily/odds/pl_odds.csv"
path_to_total_odds = "../data/daily/odds/total_odds.csv"

In [3]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [4]:
# Read in the odds CSVs
ml = pd.read_csv(path_to_ml_odds).rename(columns={'ml_odds':'odds'})
pl = pd.read_csv(path_to_pl_odds).rename(columns={'pl_line':'line', 'pl_odds':'odds'})
total = pd.read_csv(path_to_total_odds).rename(columns={'total_line':'line', 'total_odds':'odds'})

In [12]:
display(ml.head())

  team date_recorded time_recorded   date_game time_game  odds
0  NSH    2023-10-10      09:51:28  2023-10-10  16:30:00   130
1  TBL    2023-10-10      09:51:28  2023-10-10  16:30:00  -155
2  CHI    2023-10-10      09:51:28  2023-10-10  19:00:00   200
3  PIT    2023-10-10      09:51:28  2023-10-10  19:00:00  -245
4  SEA    2023-10-10      09:51:28  2023-10-10  21:30:00   142

In [9]:
# Put columns in correct order (and remove game id if that column is still in there)
ml = ml[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game', 'odds']]
pl = pl[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game',  'line','odds']]
total = total[['home', 'away', 'date_recorded', 'time_recorded', 'bet_type', 'date_game', 'time_game', 'line', 'odds']]

In [30]:
# Insert into ML odds table
ml.to_sql(name = 'ml_odds', con=engine, schema='nhl', if_exists='append', index=False)

1370

In [37]:
# Insert into PL odds table
pl.to_sql(name = 'pl_odds', con=engine, schema='nhl', if_exists='append', index=False)

1370

In [38]:
# Insert into total odds table
total.to_sql(name = 'total_odds', con=engine, schema='nhl', if_exists='append', index=False)

1370

In [39]:
# Empty the CSV files
# ml = ml.iloc[0:0]
# pl = pl.iloc[0:0]
# total = total.iloc[0:0]

#ml.to_csv(path_to_ml_odds, header=True, index=False)
#pl.to_csv(path_to_pl_odds, header=True, index=False)
#total.to_csv(path_to_total_odds, header=True, index=False)