### Insert DK odds data into MySQL

In [24]:
# Packages
import pandas as pd
import sqlalchemy

In [35]:
# User input
path_to_ml_odds = '../data/odds/dk_ml_odds.csv'
path_to_pl_odds = '../data/odds/dk_pl_odds.csv'
path_to_total_odds = '../data/odds/dk_total_odds.csv'
pword = ''

In [3]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:' + pword + '@localhost/nhl')

In [36]:
# Read in the odds CSVs
ml = pd.read_csv(path_to_ml_odds).rename(columns={'ml_odds':'odds'})
pl = pd.read_csv(path_to_pl_odds).rename(columns={'pl_line':'line', 'pl_odds':'odds'})
total = pd.read_csv(path_to_total_odds).rename(columns={'total_line':'line', 'total_odds':'odds'})

In [37]:
display(total.head())

,date_recorded,time_recorded,game_id,date_game,time_game,home,away,bet_type,line,odds
0,2023-02-13,14:00:00,1,2023-02-13,NaN,OTT,CGY,O,6.5,-115
1,2023-02-13,14:00:00,1,2023-02-13,NaN,OTT,CGY,U,6.5,-105
2,2023-02-13,14:00:00,2,2023-02-13,NaN,NSH,ARI,O,6.0,-105
3,2023-02-13,14:00:00,2,2023-02-13,NaN,NSH,ARI,U,6.0,-115
4,2023-02-13,14:00:00,3,2023-02-13,NaN,MIN,FLA,O,6.5,-120

In [38]:
# Put columns in correct order (and remove game id if that column is still in there)
ml = ml[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game', 'odds']]
pl = pl[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game',  'line','odds']]
total = total[['home', 'away', 'date_recorded', 'time_recorded', 'date_game', 'time_game', 'bet_type', 'line', 'odds']]

In [39]:
# Insert into ML odds table
ml.to_sql(name = 'ml_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [40]:
# Insert into PL odds table
pl.to_sql(name = 'pl_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [41]:
# Insert into total odds table
total.to_sql(name = 'total_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [23]:
# Empty the CSV files
ml = ml.iloc[0:0]
pl = pl.iloc[0:0]
total = total.iloc[0:0]

#ml.to_csv(path_to_ml_odds, header=True, index=False)
#pl.to_csv(path_to_pl_odds, header=True, index=False)
#total.to_csv(path_to_total_odds, header=True, index=False)

Empty DataFrame
Columns: [team, date_recorded, time_recorded, date_game, time_game, odds]
Index: []

#### When this gets automated or put into production, the above should be at the very least a 'try'/'except' the same way a SQL transaction would execute.