### Use skater games and goalie games CSV to "upsert" player history table
The skater game and goalie game CSV's are used to update both the player history table and their respective player game stats tables.

In [22]:
# Packages
import pandas as pd
import sqlalchemy

In [23]:
# User input
skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/skater_games.csv'
goalie_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/goalie_games.csv'

In [11]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [24]:
# Read in skater games
skater = pd.read_csv(skater_path, usecols=['player_id', 'player_name', 'team', 'date'])
goalie = pd.read_csv(goalie_path, usecols=['player_id', 'player_name', 'team', 'date'])

In [25]:
display(skater)
display(goalie)

        player_id     player_name        date team
0       abramvi01  vitaly abramov  2021-05-05  OTT
1       abramvi01  vitaly abramov  2021-05-08  OTT
2       acciano01    noel acciari  2021-01-17  FLA
3       acciano01    noel acciari  2021-01-19  FLA
4       acciano01    noel acciari  2021-01-26  FLA
...           ...             ...         ...  ...
150466  zuckeja01    jason zucker  2023-12-29  ARI
150467  zuckeja01    jason zucker  2024-01-02  ARI
150468  zuckeja01    jason zucker  2024-01-11  ARI
150469  zuckeja01    jason zucker  2024-01-13  ARI
150470  zuckeja01    jason zucker  2024-01-16  ARI

[150471 rows x 4 columns]

      player_id  player_name        date team
0     allenja01   jake allen  2021-01-18  MTL
1     allenja01   jake allen  2021-01-21  MTL
2     allenja01   jake allen  2021-01-30  MTL
3     allenja01   jake allen  2021-02-02  MTL
4     allenja01   jake allen  2021-02-06  MTL
...         ...          ...         ...  ...
8923   wolljo01  joseph woll  2023-11-25  TOR
8924   wolljo01  joseph woll  2023-11-28  TOR
8925   wolljo01  joseph woll  2023-11-30  TOR
8926   wolljo01  joseph woll  2023-12-02  TOR
8927   wolljo01  joseph woll  2023-12-07  TOR

[8928 rows x 4 columns]

In [20]:
# Function for upsert of single row
def upsert(mysql_engine, id, name, team, date):
    """Upsert player record into player_history table"""
    
    # Write the query & execute
    with mysql_engine.begin() as conn:
        conn.execute(sqlalchemy.text(f"CALL InsertOrUpdatePlayerHistory ('{id}', '{name}', '{team}', '{date}');"))

    return

In [ ]:
# Apply upsert to each row for skaters
skater.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)

In [ ]:
# Apply upsert to each row for goalies
goalie.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)