### Insert DK odds data into MySQL

In [3]:
# Packages
import pandas as pd
import sqlalchemy

In [28]:
# User input
path_to_ml_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_ml_odds.csv"
path_to_pl_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_pl_odds.csv"
path_to_total_odds = "/Volumes/LUNANI/sports_betting_csv_backup/odds/dk_total_odds.csv"

# path_to_ml_odds = "../data/daily/odds/ml_odds.csv"
# path_to_pl_odds = "../data/daily/odds/pl_odds.csv"
# path_to_total_odds = "../data/daily/odds/total_odds.csv"

In [4]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [29]:
# Read in the odds CSVs
ml = pd.read_csv(path_to_ml_odds).rename(columns={'ml_odds':'odds'})
pl = pd.read_csv(path_to_pl_odds).rename(columns={'pl_line':'line', 'pl_odds':'odds'})
total = pd.read_csv(path_to_total_odds).rename(columns={'total_line':'line', 'total_odds':'odds'})

In [32]:
display(total.head())

,home,away,date_recorded,time_recorded,date_game,time_game,bet_type,line,odds
0,OTT,CGY,2023-02-13,14:00:00,2023-02-13,NaN,O,6.5,-115
1,OTT,CGY,2023-02-13,14:00:00,2023-02-13,NaN,U,6.5,-105
2,NSH,ARI,2023-02-13,14:00:00,2023-02-13,NaN,O,6.0,-105
3,NSH,ARI,2023-02-13,14:00:00,2023-02-13,NaN,U,6.0,-115
4,MIN,FLA,2023-02-13,14:00:00,2023-02-13,NaN,O,6.5,-120

In [19]:
# Put columns in correct order (and remove game id if that column is still in there)
ml = ml[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game', 'odds']]
pl = pl[['team', 'date_recorded', 'time_recorded', 'date_game', 'time_game',  'line','odds']]
total = total[['home', 'away', 'date_recorded', 'time_recorded', 'bet_type', 'date_game', 'time_game', 'line', 'odds']]

In [21]:
# Insert into ML odds table
ml.to_sql(name = 'ml_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [22]:
# Insert into PL odds table
pl.to_sql(name = 'pl_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [23]:
# Insert into total odds table
total.to_sql(name = 'total_odds', con=engine, schema='nhl', if_exists='append', index=False)

932

In [39]:
# Empty the CSV files
# ml = ml.iloc[0:0]
# pl = pl.iloc[0:0]
# total = total.iloc[0:0]

#ml.to_csv(path_to_ml_odds, header=True, index=False)
#pl.to_csv(path_to_pl_odds, header=True, index=False)
#total.to_csv(path_to_total_odds, header=True, index=False)