### Use skater games and goalie games CSV to "upsert" player history table
The skater game and goalie game CSV's are used to update both the player history table and their respective player game stats tables.

In [1]:
# Packages
import pandas as pd
import sqlalchemy

In [2]:
# User input
#skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/skater_games.csv'
#goalie_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/goalie_games.csv'
skater_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/skater_2.csv'
goalie_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/goalie_2.csv'

In [3]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [4]:
# Read in skater games
skater = pd.read_csv(skater_path, usecols=['player_id', 'player_name', 'team', 'date'])
goalie = pd.read_csv(goalie_path, usecols=['player_id', 'player_name', 'team', 'date'])

In [5]:
display(skater)
display(goalie)

       player_id        player_name        date team
0      abbotsp01     spencer abbott  2017-01-05  CHI
1      abdelju01  justin abdelkader  2016-10-13  DET
2      abdelju01  justin abdelkader  2016-10-15  DET
3      abdelju01  justin abdelkader  2016-10-17  DET
4      abdelju01  justin abdelkader  2016-10-19  DET
...          ...                ...         ...  ...
88547  zuckeja01       jason zucker  2016-03-31  MIN
88548  zuckeja01       jason zucker  2016-04-01  MIN
88549  zuckeja01       jason zucker  2016-04-03  MIN
88550  zuckeja01       jason zucker  2016-04-05  MIN
88551  zuckeja01       jason zucker  2016-04-09  MIN

[88552 rows x 4 columns]

      player_id   player_name        date team
0     allenja01    jake allen  2016-10-12  STL
1     allenja01    jake allen  2016-10-13  STL
2     allenja01    jake allen  2016-10-18  STL
3     allenja01    jake allen  2016-10-20  STL
4     allenja01    jake allen  2016-10-22  STL
...         ...           ...         ...  ...
5296  zatkoje01  jeff zatkoff  2016-01-18  PIT
5297  zatkoje01  jeff zatkoff  2016-02-05  PIT
5298  zatkoje01  jeff zatkoff  2016-02-06  PIT
5299  zatkoje01  jeff zatkoff  2016-02-20  PIT
5300  zatkoje01  jeff zatkoff  2016-04-09  PIT

[5301 rows x 4 columns]

In [6]:
# Function for upsert of single row
def upsert(mysql_engine, id, name, team, date):
    """Upsert player record into player_history table"""
    
    # Write the query & execute
    with mysql_engine.begin() as conn:
        conn.execute(sqlalchemy.text(f"CALL InsertOrUpdatePlayerHistory ('{id}', '{name}', '{team}', '{date}');"))

    return

In [ ]:
# Apply upsert to each row for skaters
skater.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)

In [ ]:
# Apply upsert to each row for goalies
goalie.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)