### Insert player and goalie statistics into MySQL tables

In [1]:
# Packages
import pandas as pd
from MySQLClass import MySQL

In [2]:
# User input
# skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/skater_games.csv'
# goalies_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/goalie_games.csv'

skater_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/skater_2.csv'
goalies_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/goalie_2.csv'

In [3]:
# Create the engine to connect to the MySQL database
mysql = MySQL()
mysql.connect()

### Skaters

In [4]:
# Read in CSV files
skater = pd.read_csv(skater_path)
display(skater.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,...,SHA,S,S_perc,shifts,TOI,HIT,BLK,FOW,FOL,FOW_perc
0,abbotsp01,spencer abbott,28,2017,1,2017-01-05,CHI,BUF,1.0,W,...,0,1,0.0,12,8.566667,0,0.0,0.0,0.0,NaN
1,abdelju01,justin abdelkader,29,2017,1,2016-10-13,DET,TBL,0.0,L,...,0,2,0.0,21,15.283333,6,0.0,0.0,0.0,NaN
2,abdelju01,justin abdelkader,29,2017,2,2016-10-15,DET,FLA,0.0,L,...,0,1,0.0,21,14.533333,1,0.0,0.0,0.0,NaN
3,abdelju01,justin abdelkader,29,2017,3,2016-10-17,DET,OTT,1.0,W,...,0,0,NaN,17,13.450000,2,1.0,0.0,0.0,NaN
4,abdelju01,justin abdelkader,29,2017,4,2016-10-19,DET,NYR,0.0,W,...,0,0,NaN,19,16.116667,4,2.0,0.0,0.0,NaN

In [5]:
# Select the correct columns, rename, and order them
skater = skater[['player_id', 'team', 'game_num', 'date', 'opponent', 'G', 'A', 'P', 'rating', 'PIM', 'EVG', 'PPG', 'SHG', 'GWG', 'EVA', 'PPA', 'SHA', 'S', 'S_perc', 'shifts', 'TOI', 'HIT', 'BLK', 'FOW', 'FOL', 'FOW_perc']].rename(columns={'S_perc':'S_pct', 'FOW_perc':'FOW_pct'})

In [6]:
# Insert into skater statistics table
skater.to_sql(name = 'skater_game', con=mysql.engine, schema='nhl', if_exists='append', index=False)

-1

In [24]:
# Empty the df
#skater = skater.iloc[0:0]
#skater.to_csv(skater_path, header=True, index=False)

### Goalies

In [7]:
# Read in CSV files
goalie = pd.read_csv(goalies_path)
display(goalie.head())

,player_id,player_name,age,season,game_num,date,team,opponent,home_away_status,result,decision,GA,SA,SV,SV_perc,shutout,PIM,TOI
0,allenja01,jake allen,26,2017,1,2016-10-12,STL,CHI,0,W,W,2,19,17,0.895,0,0,60.000000
1,allenja01,jake allen,26,2017,2,2016-10-13,STL,MIN,1,W,W,2,21,19,0.905,0,0,60.000000
2,allenja01,jake allen,26,2017,3,2016-10-18,STL,VAN,0,L-OT,O,2,26,24,0.923,0,0,61.666667
3,allenja01,jake allen,26,2017,4,2016-10-20,STL,EDM,0,L,L,2,22,20,0.909,0,0,59.300000
4,allenja01,jake allen,26,2017,5,2016-10-22,STL,CGY,0,W,W,4,27,23,0.852,0,0,60.000000

In [8]:
# Select the correct columns, rename, and order them
goalie = goalie[['player_id', 'team', 'game_num', 'date', 'opponent', 'decision', 'GA', 'SA', 'SV', 'SV_perc', 'shutout', 'PIM', 'TOI']].rename(columns={'SV_perc':'SV_pct'})

In [9]:
# Insert into goalie statistics table
goalie.to_sql(name = 'goalie_game', con=mysql.engine, schema='nhl', if_exists='append', index=False)

-1

In [ ]:
# Empty the df
#goalie = goalie.iloc[0:0]
#goalie.to_csv(goalie_path, header=True, index=False)