### Use skater games and goalie games CSV to "upsert" player history table
The skater game and goalie game CSV's are used to update both the player history table and their respective player game stats tables.

In [3]:
# Packages
import pandas as pd
import sqlalchemy

In [4]:
# User input
#skater_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/skater_games.csv'
#goalie_path = '/Volumes/LUNANI/sports_betting_csv_backup/game_stats/goalie_games.csv'
skater_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/skater.csv'
goalie_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/stats/goalie.csv'

In [5]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [6]:
# Read in skater games
skater = pd.read_csv(skater_path, usecols=['player_id', 'player_name', 'team', 'date'])
goalie = pd.read_csv(goalie_path, usecols=['player_id', 'player_name', 'team', 'date'])

In [7]:
display(skater)
display(goalie)

       player_id        player_name        date team
0      abdelju01  justin abdelkader  2018-10-04  DET
1      abdelju01  justin abdelkader  2018-10-07  DET
2      abdelju01  justin abdelkader  2018-10-08  DET
3      abdelju01  justin abdelkader  2018-10-11  DET
4      abdelju01  justin abdelkader  2018-10-13  DET
...          ...                ...         ...  ...
91506  zykovva01     valentin zykov  2018-03-30  CAR
91507  zykovva01     valentin zykov  2018-03-31  CAR
91508  zykovva01     valentin zykov  2018-04-02  CAR
91509  zykovva01     valentin zykov  2018-04-05  CAR
91510  zykovva01     valentin zykov  2018-04-07  CAR

[91511 rows x 4 columns]

      player_id      player_name        date team
0     allenja01       jake allen  2018-10-04  STL
1     allenja01       jake allen  2018-10-06  STL
2     allenja01       jake allen  2018-10-11  STL
3     allenja01       jake allen  2018-10-13  STL
4     allenja01       jake allen  2018-10-17  STL
...         ...              ...         ...  ...
5475  wedgesc01  scott wedgewood  2018-01-13  ARI
5476  wedgesc01  scott wedgewood  2018-02-01  ARI
5477  wedgesc01  scott wedgewood  2018-02-03  ARI
5478  wedgesc01  scott wedgewood  2018-02-13  ARI
5479  wilcoad01      adam wilcox  2018-04-07  BUF

[5480 rows x 4 columns]

In [8]:
# Function for upsert of single row
def upsert(mysql_engine, id, name, team, date):
    """Upsert player record into player_history table"""
    
    # Write the query & execute
    with mysql_engine.begin() as conn:
        conn.execute(sqlalchemy.text(f"CALL InsertOrUpdatePlayerHistory ('{id}', '{name}', '{team}', '{date}');"))

    return

In [ ]:
# Apply upsert to each row for skaters
skater.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)

In [ ]:
# Apply upsert to each row for goalies
goalie.apply(lambda row: upsert(engine, row['player_id'], row['player_name'], row['team'], row['date']), axis=1)