### Transfer CSV regulation odds data to MySQL database

In [8]:
import pandas as pd
import sqlalchemy

In [9]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [10]:
# Read in the CSV data
path_to_regualtion = '../data/daily/odds/60min_odds.csv'
regulation = pd.read_csv(path_to_regualtion)

In [11]:
# Set correct column order
regulation = regulation[['home', 'away', 'date_recorded', 'time_recorded', 'bet_type', 'date_game', 'odds']]
regulation.head()

  home away date_recorded time_recorded bet_type   date_game  odds
0  TBL  NSH    2023-10-10      09:48:36      NSH  2023-10-10   220
1  TBL  NSH    2023-10-10      09:48:36     draw  2023-10-10   340
2  TBL  NSH    2023-10-10      09:48:36      TBL  2023-10-10  -110
3  PIT  CHI    2023-10-10      09:48:36      CHI  2023-10-10   290
4  PIT  CHI    2023-10-10      09:48:36     draw  2023-10-10   370

In [12]:
# For now, just pd.to_sql()
# If you want to make this more complex to ignore duplicate keys upon insert, use the syntax that creates a temp table, insert ignore, then delete temp table
regulation.to_sql(name = 'regulation_odds', con=engine, schema='nhl', if_exists='append', index=False)

2067