## BETTER TO USE THE PRODUCTION FILE FOR SCRAPING AND INSERTING SEASON SCHEDULE/GAME ID INFO

### Insert game ID and schedule information into my SQL database
Use the information located in the CSV files. For these inserts, we want the CSV files located in '../data/season_scores/'. When the insert has been completed and validated, it is okay to empty the CSV file. 

However, in the early stages of using MySQL, we should simply move the CSV files elsewhere (store on a hardrive, etc.) until we are sure that using MySQL is the correct path.

In [1]:
# Packages
import pandas as pd
import sqlalchemy

In [26]:
# User input
# Season
season = '2019'
sched_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/season_schedules/schedule_' + season + '.csv'
#sched_path = '/Volumes/LUNANI/sports_betting_csv_backup/season_scores/scores_' + season + '.csv'

In [27]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [28]:
# Read in the CSV file with the cleaned and scraped schedule information
sched = pd.read_csv(sched_path)
display(sched.head())

  team        game_id        date  season location  G OT_status  win_flag
0  SJS  181003_SJSANA  2018-10-03    2019        H  2       NaN         0
1  TOR  181003_TORMTL  2018-10-03    2019        H  3        OT         1
2  VAN  181003_VANCGY  2018-10-03    2019        H  5       NaN         1
3  WSH  181003_WSHBOS  2018-10-03    2019        H  7       NaN         1
4  BUF  181004_BUFBOS  2018-10-04    2019        H  0       NaN         0

In [29]:
# Separate the table into data frames for the game ID and schedule MySQL tables
game_ids = sched[['team', 'date', 'game_id']]
sched_for_insert = sched.drop(columns='game_id')

In [30]:
# View the tables before inserting
display(game_ids.head())
display(sched_for_insert.head())

  team        date        game_id
0  SJS  2018-10-03  181003_SJSANA
1  TOR  2018-10-03  181003_TORMTL
2  VAN  2018-10-03  181003_VANCGY
3  WSH  2018-10-03  181003_WSHBOS
4  BUF  2018-10-04  181004_BUFBOS

  team        date  season location  G OT_status  win_flag
0  SJS  2018-10-03    2019        H  2       NaN         0
1  TOR  2018-10-03    2019        H  3        OT         1
2  VAN  2018-10-03    2019        H  5       NaN         1
3  WSH  2018-10-03    2019        H  7       NaN         1
4  BUF  2018-10-04    2019        H  0       NaN         0

In [31]:
# Insert into game ID table
game_ids.to_sql(name = 'game_id', con=engine, schema='nhl', if_exists='append', index=False)

-1

In [32]:
# Insert into schedule table
sched_for_insert.to_sql(name = 'schedule', con=engine, schema='nhl', if_exists='append', index=False)

-1

In [ ]:
# Empty the CSV file
#sched = sched.iloc[0:0]
#sched.to_csv(sched_path, header=True, index=False)