## BETTER TO USE THE PRODUCTION FILE FOR SCRAPING AND INSERTING SEASON SCHEDULE/GAME ID INFO

### Insert game ID and schedule information into my SQL database
Use the information located in the CSV files. For these inserts, we want the CSV files located in '../data/season_scores/'. When the insert has been completed and validated, it is okay to empty the CSV file. 

However, in the early stages of using MySQL, we should simply move the CSV files elsewhere (store on a hardrive, etc.) until we are sure that using MySQL is the correct path.

In [9]:
# Packages
import pandas as pd
import sqlalchemy

In [16]:
# User input
# Season
season = '2016'
sched_path = '/Users/bryanmichalek/Documents/GitHub_Personal/sports_betting_data/data/historic_batch/season_schedules/schedule_' + season + '.csv'
#sched_path = '/Volumes/LUNANI/sports_betting_csv_backup/season_scores/scores_' + season + '.csv'

In [17]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:rootdata@localhost/nhl')

In [18]:
# Read in the CSV file with the cleaned and scraped schedule information
sched = pd.read_csv(sched_path)
display(sched.head())

  team        game_id        date  season location  G OT_status  win_flag
0  CGY  151007_CGYVAN  2015-10-07    2016        H  1       NaN         0
1  CHI  151007_CHINYR  2015-10-07    2016        H  2       NaN         0
2  LAK  151007_LAKSJS  2015-10-07    2016        H  1       NaN         0
3  TOR  151007_TORMTL  2015-10-07    2016        H  1       NaN         0
4  BOS  151008_BOSWPG  2015-10-08    2016        H  2       NaN         0

In [19]:
# Separate the table into data frames for the game ID and schedule MySQL tables
game_ids = sched[['team', 'date', 'game_id']]
sched_for_insert = sched.drop(columns='game_id')

In [20]:
# View the tables before inserting
display(game_ids.head())
display(sched_for_insert.head())

  team        date        game_id
0  CGY  2015-10-07  151007_CGYVAN
1  CHI  2015-10-07  151007_CHINYR
2  LAK  2015-10-07  151007_LAKSJS
3  TOR  2015-10-07  151007_TORMTL
4  BOS  2015-10-08  151008_BOSWPG

  team        date  season location  G OT_status  win_flag
0  CGY  2015-10-07    2016        H  1       NaN         0
1  CHI  2015-10-07    2016        H  2       NaN         0
2  LAK  2015-10-07    2016        H  1       NaN         0
3  TOR  2015-10-07    2016        H  1       NaN         0
4  BOS  2015-10-08    2016        H  2       NaN         0

In [21]:
# Insert into game ID table
game_ids.to_sql(name = 'game_id', con=engine, schema='nhl', if_exists='append', index=False)

-1

In [22]:
# Insert into schedule table
sched_for_insert.to_sql(name = 'schedule', con=engine, schema='nhl', if_exists='append', index=False)

-1

In [ ]:
# Empty the CSV file
#sched = sched.iloc[0:0]
#sched.to_csv(sched_path, header=True, index=False)