In [2]:
import mysql.connector
import pandas as pd

In [3]:
conn = mysql.connector.connect(user='root', password='**insert pass**',
                              host='localhost',
                              database='nhl')

In [4]:
query = 'SELECT * FROM skater_games LIMIT 10;'

In [5]:
df = pd.read_sql(query, con = conn)

/var/folders/yk/qhxv13m50bl7fyrpnntydjgh0000gn/T/ipykernel_56615/589046601.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con = conn)

In [6]:
df

Empty DataFrame
Columns: [player_id, name, age, team, season, game_num, date, opponent, G, A, P, rating, PIM, EVG, PPG, SHG, GWG, EVA, PPA, SHA, S, S_pct, shifts, TOI, HIT, BLK, FOW, FOL, FOW_pct]
Index: []

[0 rows x 29 columns]