In [12]:
import mysql.connector
import pandas as pd

In [16]:
conn = mysql.connector.connect(user='root', password='***insert pass***',
                              host='localhost',
                              database='nhl')

In [19]:
query = 'SELECT * FROM skater_stats LIMIT 10;'

In [22]:
df = pd.read_sql(query, con = conn)

/var/folders/yk/qhxv13m50bl7fyrpnntydjgh0000gn/T/ipykernel_9639/589046601.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con = conn)

In [23]:
df

   player_id  game
0          1     2
1          3     7