In [1]:
import mysql.connector
import pandas as pd

In [2]:
conn = mysql.connector.connect(user='root', password='root',
                              host='localhost',
                              database='nhl')

In [9]:
query = """
SELECT a.player_id, a.date, a.P60_5, a.S60_5, a.FOW60_5, a.avgTOI_5, b.home_game_flag, c.P, 60 * (c.P / c.TOI) AS P60
FROM skater_per60_rolling5 a 
LEFT JOIN home_away_status b 
    ON a.player_id = b.player_id
    AND a.date = b.date
LEFT JOIN skater_games c
    ON a.player_id = c.player_id
    AND a.date = c.date
WHERE a.player_id = '/m/mcdavco01';
"""

In [10]:
df = pd.read_sql(query, con = conn)

/var/folders/yk/qhxv13m50bl7fyrpnntydjgh0000gn/T/ipykernel_51381/589046601.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query, con = conn)

In [11]:
df

,player_id,date,P60_5,S60_5,FOW60_5,avgTOI_5,home_game_flag,P,P60
0,/m/mcdavco01,2021-02-27,5.269319,10.538639,16.334890,22.77334,1,0,0.000000
1,/m/mcdavco01,2021-05-06,6.753157,8.441446,14.069077,21.32336,1,3,8.992491
2,/m/mcdavco01,2021-11-09,4.739619,13.165609,13.692234,22.78664,0,1,2.387271
3,/m/mcdavco01,2022-04-03,5.124156,16.511171,15.372469,21.07664,0,3,11.675650
4,/m/mcdavco01,2023-01-25,4.855390,16.184634,16.184634,22.24332,1,1,2.501741
...,...,...,...,...,...,...,...,...,...
198,/m/mcdavco01,2021-11-16,4.081636,7.653068,14.795931,23.51998,0,2,4.972383
199,/m/mcdavco01,2021-11-23,4.244036,8.488071,18.567656,22.61998,0,0,0.000000
200,/m/mcdavco01,2022-04-28,6.920861,7.497599,21.916060,20.80666,1,1,3.035408
201,/m/mcdavco01,2022-12-30,3.627986,7.774256,12.957094,23.15334,0,5,18.730450
202,/m/mcdavco01,2023-04-05,4.777707,8.360988,21.499682,20.09332,0,1,3.225806

In [12]:
df.to_csv('~/Desktop/mcdavid_time_series.csv', header=True,index=False)