In [18]:
# Packages
import pandas as pd
import sqlalchemy
from scipy.stats import spearmanr
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
from feature_functions import spearman_rank, boxplot, density_plot, diff_in_means, diff_in_medians
from matplotlib.backends.backend_pdf import PdfPages
from functools import reduce

## Acquire continuous features

In [2]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:root@localhost/nhl')

In [11]:
# Writing each query separately runs a lot faster...
# Skater query list
skater_games_query = """
SELECT player_id,
    opponent,
    date,
    G
FROM skater_games
"""

point_streak_query = """
SELECT * 
FROM point_streak
"""

s_rolling3_query = """
SELECT * 
FROM skater_per60_rolling3
"""

s_rolling5_query = """
SELECT * 
FROM skater_per60_rolling5
"""

s_rolling10_query = """
SELECT * 
FROM skater_per60_rolling10
"""

s_rolling15_query = """
SELECT * 
FROM skater_per60_rolling15
"""

s_rolling20_query = """
SELECT * 
FROM skater_per60_rolling20
"""

s_query_list = [skater_games_query, s_rolling3_query, s_rolling5_query, s_rolling10_query, s_rolling15_query, s_rolling20_query, point_streak_query]

# Goalie query list
g_assigned_query = """
SELECT *
FROM assigned_goalie
"""

g_rolling3_query = """
SELECT * 
FROM goalie_per60_rolling3
"""

g_rolling5_query = """
SELECT * 
FROM goalie_per60_rolling5
"""

g_rolling10_query = """
SELECT * 
FROM goalie_per60_rolling10
"""

g_rolling15_query = """
SELECT * 
FROM goalie_per60_rolling15
"""

g_rolling20_query = """
SELECT * 
FROM goalie_per60_rolling20
"""

g_query_list = [g_assigned_query, g_rolling3_query, g_rolling5_query, g_rolling10_query, g_rolling15_query, g_rolling20_query]

In [12]:
# Run each query separately, then merge later for time purposes...
s_df_list = [pd.read_sql(q,  con=engine) for q in s_query_list]

# Time = 8 min

In [13]:
# Run each query separately, then merge later for time purposes...
g_df_list = [pd.read_sql(q, con=engine) for q in g_query_list]

# Time = 1 second

In [19]:
# Merge all skater features on player_id, date
s_df = reduce(lambda x, y: pd.merge(x,  y, how='left', on=['player_id', 'date']), s_df_list)

# Merge all goalie features on player_id, date
g_df = reduce(lambda x, y: pd.merge(x,  y, how='left', on=['player_id', 'date']), g_df_list)

In [27]:
# Merge skater df with goalie df on opponent == team, date
features = pd.merge(s_df, g_df, how='left', left_on=['opponent', 'date'], right_on=['team', 'date'])

In [30]:
features.shape

(125637, 127)

In [3]:
#master_query = """
SELECT a.player_id,
    a.date,
    a.G,
    b.*,
    c.*,
    d.*,
    e.*,
    f.*,
    g.*
FROM skater_games a
LEFT JOIN skater_per60_rolling3 b
    ON a.player_id = b.player_id AND a.date = b.date
LEFT JOIN skater_per60_rolling5 c
    ON a.player_id = c.player_id AND a.date = c.date
LEFT JOIN skater_per60_rolling10 d
    ON a.player_id = d.player_id AND a.date = d.date
LEFT JOIN skater_per60_rolling15 e
    ON a.player_id = e.player_id AND a.date = e.date
LEFT JOIN skater_per60_rolling20 f
    ON a.player_id = f.player_id AND a.date = f.date
LEFT JOIN point_streak g
    ON a.player_id = g.player_id AND a.date = g.date
"""

In [4]:
# Read in all features at once
# features = pd.read_sql(master_query, con=engine)

# Read in just rolling 3 for testing
#features = pd.read_sql(per60_3_query, con=engine)

In [31]:
print(f'Num rows: {features.shape[0]}\nNum columns: {features.shape[1]}')
display(features.head(5))

Num rows: 125637
Num columns: 127

,player_id_x,opponent,date,G,G60_3,A60_3,P60_3,rating60_3,PIM60_3,EVG60_3,...,GA60_15,SA60_15,SV60_15,SVpct_15,avgTOI_15_y,GA60_20,SA60_20,SV60_20,SVpct_20,avgTOI_20_y
0,/a/abramvi01,MTL,2021-05-05,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.737591,27.786548,25.048957,0.901478,58.445547,2.736025,28.018920,25.282896,0.902351,59.209990
1,/a/abramvi01,WPG,2021-05-08,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.688031,30.004239,27.316208,0.910412,55.058887,2.453842,30.566341,28.112499,0.919721,56.238330
2,/a/abruzni01,PHI,2022-04-02,0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.348027,34.819478,31.471451,0.903846,59.736680,3.161741,33.555256,30.393514,0.905775,58.828340
3,/a/abruzni01,TBL,2022-04-04,0,NaN,NaN,NaN,NaN,NaN,NaN,...,2.620087,30.097410,27.477323,0.912946,59.540007,2.555430,30.113990,27.558560,0.915141,59.872505
4,/a/abruzni01,DAL,2022-04-07,0,NaN,NaN,NaN,NaN,NaN,NaN,...,3.250283,37.689454,34.439171,0.913761,57.841113,3.449657,35.989704,32.540047,0.904149,58.266665

In [6]:
# Set up x
x_train = features.iloc[:,3:]

# Set up multiple y's
y_train = features.iloc[:,2]
y_train_binary = y_train > 0
y_train_012 = y_train.copy().astype('object')
y_train_012[y_train_012 >= 2] = '2+'

## Calculate spearman rank correlation

In [ ]:
# Run spearman correlations for all continous features
spearman_correlations = x_train.apply(lambda f: spearman_rank(feature=f, target=y_train), axis=0).rename('correlation')

## Variance and MAD
Features with higher variance typically have higher discriminatory power. Conversely, if a variable has 0 variance, it cannot discriminate the target variable.

In [ ]:
# Calculate variances
variances = x_train.var(axis=0).rename('variance')
#variances.sort_values(ascending=False)

In [ ]:
# Calculate MAD
mads = x_train.apply(lambda x: np.mean(np.abs(x - np.mean(x))), axis=0).rename('MAD')
#mads.sort_values(ascending=False)

## Calculate difference in mean/med btw target levels

In [ ]:
diff_means = x_train.apply(lambda f: diff_in_means(feature=f, target=y_train_binary), axis=0).sort_values(ascending=False, key=abs).rename('diff_mean')
#diff_means

In [ ]:
diff_medians= x_train.apply(lambda f: diff_in_medians(feature=f, target=y_train_binary), axis=0).sort_values(ascending=False, key=abs).rename('diff_med')
#diff_medians

## Save results to CSV

In [ ]:
# Concatenate into 1 dataframe
filter_method_results = pd.concat([spearman_correlations, diff_means, diff_medians, variances, mads], axis=1)

In [ ]:
# Save to CSV
filter_method_results.to_csv('./continuous_filter_methods.csv', header=True, index=False)

## Correlation matrix (between features)

In [ ]:
# Calculate correlations
correlation_matrix = x_train.corr()

In [ ]:
# Save
correlation_matrix.to_csv('continuous_correlations.csv', header=True, index=False)

## Plots

In [ ]:

for i, col in enumerate(x_train.columns):
    # Open PDF file
    with PdfPages(f'../feature_plots/{col}.pdf') as pdf_pages:
         # First plot
        fig1 = plt.figure(i)
        boxplot(x_train[col], y_train_binary)
        pdf_pages.savefig(fig1)

        # Second plot
        fig1 = plt.figure(i)
        boxplot(x_train[col], y_train_012)
        pdf_pages.savefig(fig1)

        # Third plot
        fig2 = plt.figure(i)
        density_plot(x_train[col], y_train_binary)
        pdf_pages.savefig(fig2)

        # Fourth plot
        fig3 = plt.figure(i)
        density_plot(x_train[col], y_train_012)
        pdf_pages.savefig(fig2)