In [1]:
# Packages
import pandas as pd
import sqlalchemy

In [2]:
# Create the engine to connect to the MySQL database
engine = sqlalchemy.create_engine('mysql+mysqlconnector://root:root@localhost/nhl')

In [11]:
# Queries
# Names
names_query = "SELECT DISTINCT player_id, name, date FROM skater_games;"

# Skater per60's
sk3_query = "SELECT * FROM skater_per60_rolling3;"

In [12]:
# Run queries
names = pd.read_sql(names_query, con=engine)
sk3 = pd.read_sql(sk3_query, con=engine)

In [14]:
# Example feature set
feature_set = pd.merge(names, sk3, how='left', on=['player_id', 'date'])